[2013-05-22 12:02] andyearnshaw opened #1 "8.0_L15 The Collator property of [Intl] must not be enumerable"
test402 output:

<pre>=== intl402/ch08/8.0/8.0_L15 failed in non-strict mode ===
--- output ---
/tmp/test262-_cYvQH.js:289: Test262 Error: The Collator property of this built-in function must not be enumerable.
    throw new Test262Error(message);
          ^
===</pre>

[2013-05-22 12:08] andyearnshaw opened #2 "10.1_L15, 11.1_L15, 12.1_L15, etc: The length property of a built-in function must not be writable."
Sample test402 output:

<pre>=== intl402/ch11/11.1/11.1_L15 failed in non-strict mode ===
--- output ---
/tmp/test262-um8Nwx.js:289: Test262 Error: The length property of a built-in function must not be writable.
    throw new Test262Error(message);
          ^
===</pre>

[2013-05-22 12:09] andyearnshaw opened #3 "10.2.1, 11.2.1, 12.2.1: prototypes must not be writable."
Sample test402 output:

<pre>=== intl402/ch11/11.2/11.2.1 failed in non-strict mode ===
--- output ---
/tmp/test262-u39TsO.js:289: Test262 Error: Intl.NumberFormat.prototype must not be writable.
    throw new Test262Error(message);
          ^
===</pre>

[2013-05-22 12:22] andyearnshaw opened #4 "11.1.1_20_c Didn't get correct minimumFractionDigits for currency PYG; expected 0, got 2."
test402 output:

<pre>=== intl402/ch11/11.1/11.1.1_20_c failed in non-strict mode ===
--- output ---
/tmp/test262-kLqZBd.js:289: Test262 Error: Didn't get correct minimumFractionDigits for currency PYG; expected 0, got 2.
    throw new Test262Error(message);
          ^
===</pre>

Seems to be an issue with the regex in [getISO4217data.js](https://github.com/andyearnshaw/Intl.js/blob/master/tools/g

[2013-05-22 12:23] andyearnshaw opened #5 "11.1.1_a: RegExp has unexpected property $_"
test402 output:

<pre>intl402/ch11/11.1/11.1.1_a in non-strict mode:
--- output ---
/tmp/test262-_bzYfd.js:289: Test262 Error: RegExp has unexpected property $_ with value de-DE-u-nu-latn.
    throw new Test262Error(message);
          ^</pre>

[2013-05-22 12:25] andyearnshaw opened #6 "11.3_b: Calling resolvedOptions on true was not rejected."
test402 output:

<pre>/11.3_b in non-strict mode:
--- output ---
/tmp/test262-RnVreh.js:289: Test262 Error: Calling resolvedOptions on true was not rejected.
    throw new Test262Error(message);
          ^</pre>

[2013-05-22 12:27] andyearnshaw opened #7 "12.1.1_22: Client code can adversely affect behavior: setter for day."
test402 output:

<pre>intl402/ch12/12.1/12.1.1_22 in non-strict mode:
--- output ---
/tmp/test262-l8xUUM.js:289: Test262 Error: Client code can adversely affect behavior: setter for day.
    throw new Test262Error(message);
          ^</pre>

[2013-05-22 12:30] andyearnshaw opened #8 "12.2.3_c: Missing component hour from requested subset"
test402 output:

<pre>intl402/ch12/12.2/12.2.3_c in non-strict mode:
--- output ---
/tmp/test262-Tcfvs0.js:289: Test262 Error: Missing component hour from requested subset {"weekday":"long","year":"numeric","month":"numeric","day":"numeric","hour":"numeric","minute":"numeric","second":"numeric"}; locale de-DE.
    throw new Test262Error(message);
          ^</pre>

[2013-05-22 12:32] andyearnshaw opened #9 "12.3.2_1_a_L15: Function's length property doesn't have specified value; expected 0, got 1."
<pre>intl402/ch12/12.3/12.3.2_1_a_L15 in non-strict mode:
--- output ---
/tmp/test262-O6n6zg.js:289: Test262 Error: Function's length property doesn't have specified value; expected 0, got 1.
    throw new Test262Error(message);
          ^</pre>

[2013-05-22 12:33] andyearnshaw opened #10 "12.3.3: Property value gregorian is not allowed for property calendar."
<pre>intl402/ch12/12.3/12.3.3 in non-strict mode:
--- output ---
/tmp/test262-gyCxc6.js:289: Test262 Error: Property value gregorian is not allowed for property calendar.
    throw new Test262Error(message);
          ^</pre>

[2013-05-22 12:56] #10 closed, assigned to andyearnshaw

[2013-05-22 14:03] #3 closed, assigned to andyearnshaw

[2013-05-22 14:03] #6 closed, assigned to andyearnshaw

[2013-05-22 16:35] #7 closed, assigned to andyearnshaw

[2013-05-22 16:56] #4 closed, assigned to andyearnshaw

[2013-05-23 08:11] #2 closed, assigned to andyearnshaw

[2013-05-23 09:58] #5 closed, assigned to andyearnshaw

[2013-05-23 13:50] #9 closed, assigned to andyearnshaw

[2013-05-25 15:44] #1 closed, assigned to andyearnshaw

[2013-05-25 16:14] andyearnshaw opened #11 "Constructor prototypes should be initialised as instances of the constructor"
As per sections 10.3, 11.3, and 12.3, each constructors prototype object should be initialised as an instance itself.  To quote the specification for the Intl.NumberFormat Prototype object, section 11.3:

Right now, Intl.js would throw an error if we do this before any locale data is added, so this might need to be done after the first call to `Intl.__addLocaleData()`.

[2013-06-03 17:09] #11 closed, assigned to nobody

[2013-06-03 20:39] andyearnshaw opened #12 "13.3.0_7: Date.prototype.toLocaleString & Co. produce different results to Intl.DateTimeFormat"
Sample test output:

<pre>=== intl402/ch13/13.3/13.3.0_7 failed in non-strict mode ===
--- output ---
/tmp/test262-jgEMhW.js:2259: Test262 Error: Result array element at index 0 should be "3 Jun 2013" but is "undefined, 3 Jun 2013 21:12:40". (Testing with locales undefined; options {"hour12":false}.)
                throw e;
                      ^
===</pre>

[2013-06-04 07:58] andyearnshaw opened #13 "9.2.8_4: Property length of object returned by SupportedLocales is writable."
Sample test output:

<pre>=== intl402/ch09/9.2/9.2.8_4 failed in non-strict mode ===
--- output ---
/tmp/test262-on41xN.js:1076: Test262 Error: Property length of object returned by SupportedLocales is writable. (Testing with NumberFormat.)
            throw e;
                  ^
===</pre>

[2013-06-04 07:59] andyearnshaw opened #14 "9.2.6_2: Client code can adversely affect behavior: method push."
Sample test output:

<pre>=== intl402/ch09/9.2/9.2.6_2 failed in non-strict mode ===
--- output ---
/tmp/test262-U5vKTf.js:1076: Test262 Error: Client code can adversely affect behavior: method push. (Testing with NumberFormat.)
            throw e;
                  ^
===</pre>

This issue arises anywhere the specification says a `List` is to be used.  We're using an array instead, so it might be

[2013-06-04 17:10] #13 closed, assigned to nobody

[2013-06-05 16:25] #14 closed, assigned to nobody

[2013-06-06 08:28] andyearnshaw opened #15 "6.2.3: For de-DD got de-DD; expected de-DE"
Sample test output:

<pre>intl402/ch06/6.2/6.2.3 in non-strict mode:
--- output ---
/tmp/test262-lEO8kZ.js:1076: Test262 Error: For de-DD got de-DD; expected de-DE. (Testing with NumberFormat.)
            throw e;
                  ^</pre>

[2013-06-06 08:29] andyearnshaw opened #16 "9.1_b: Locale zh-Hans-CN is supported, but fallback zh-CN isn't."
Sample test output:

<pre>intl402/ch09/9.1/9.1_b in non-strict mode:
--- output ---
/tmp/test262-VA1hs1.js:1076: Test262 Error: Locale zh-Hans-CN is supported, but fallback zh-CN isn't. (Testing with NumberFormat.)
            throw e;
                  ^</pre>

[2013-06-06 08:30] andyearnshaw opened #17 "12.1.1_TDTO: Cannot read property '5' of undefined"
Sample test output:

<pre>intl402/ch12/12.1/12.1.1_TDTO in non-strict mode:
--- output ---
../Intl.min.js:11: TypeError: Cannot read property '5' of undefined
?:narrow|short|long)$/.test(f))switch(p){case"month":fv=ca.months[f][tm["[["+p
                                                                    ^
TypeError: Cannot read property '5' of undefined
    at FormatDateTime (../Intl.min.js:11:17

[2013-06-07 11:17] #15 closed, assigned to nobody

[2013-06-07 11:17] #17 closed, assigned to nobody

[2013-06-10 12:43] #16 closed, assigned to nobody

[2013-06-11 09:39] #8 closed, assigned to andyearnshaw

[2013-06-20 22:33] thorsent opened #18 "string sorting in locales"
Not sure the status of the locale db but just noticed that months are being ordered with a string sort rather than a numeric sort. Also, days of the week are ordered based on string sort rather than the canonical ordering.

[2013-06-20 23:35] #18 closed, assigned to nobody

[2013-07-29 18:28] mattjohnsonpint opened #19 "TimeZone support"
Do you have plans already on how to shim the enhanced TimeZone support?

[2013-10-30 04:52] ericf opened #20 "Node.js support and npm package"
We are interested in using `Intl.js` in browsers which don't have the built-in `Intl` APIs _and_ in Node.js.

It's still up in the air on whether Node.js binaries will ship with v8-i18n linked. There's a long discussion with [inaccurate] worries about the size of bundling the required parts of ICU. If this stays a compile-time flag for Node.js, it effectively means that the `Intl` APIs will not ex

[2013-12-02 21:15] mihnita opened #23 "Question on license"
Thanks, looks good and useful.
But under what licence is this published?

Thank you very much,
Mihai

[2013-12-03 01:54] drewfish opened #24 "Difference between test results on v8 between Intl.min.js and Intl.js"
On v8 version 3.21.17 (installed on a macbook via homebrew), Intl.min.js has the following failed tests:

[code]

However, when I edit `tests/run402` to use Intl.js instead, I get the following failed tests:

[code]

[2013-12-03 10:57] #23 closed, assigned to nobody

[2013-12-03 14:39] #24 closed, assigned to nobody

[2013-12-05 22:57] thorsent opened #32 "createRegExpRestore fails"
Encountered a situation where RegExp.lastMatch==")" which caused this method to fail due to mismatched parentheses. Easy enough to catch that one case and escape the character but possibly there are other conditions that would cause it to fail so raising it as an issue.

Would be curious to learn the motivation for saving and restoring the RegExp state.

[2013-12-05 23:10] drewfish opened #33 "locale-data/jsonp files won't jshint"
When I run jshint on the `locale-data/jsonp/*.js` files I get the following warning for all files: `L1:C13105] W033: Missing semicolon.`

[2013-12-05 23:18] drewfish opened #34 "some locale-data/json/*.json files don't jshint"
Jshint is reporting that some of them have invalid characters:
- `npm install jshint`
- `./node_modules/.bin/jshint locale-data/json/*.json`

It's reporting errors in the following files:
locale-data/json/ar-001.json
locale-data/json/ar-AE.json
locale-data/json/ar-BH.json
locale-data/json/ar-DJ.json
locale-data/json/ar-DZ.json
locale-data/json/ar-EG.json
locale-data/json/ar-EH.json
locale-data/jso

[2013-12-05 23:34] #34 closed, assigned to nobody

[2013-12-06 17:41] #33 closed, assigned to nobody

[2013-12-10 09:27] #20 closed, assigned to nobody

[2013-12-10 10:17] andyearnshaw opened #37 "Should we build Intl.js with packed-in locale data for each language?"
`Intl.complete.js` is too bloated to serve to clients, which are unlikely to need data for any locale other than the one defined by their language setting.  On the flip side, providing `Intl.min.js` _without_ locale data introduces the following complications:

 - Intl.js requires a special case where the developer needs to check for lack of native `Intl` and then add the required data either in a

[2013-12-10 10:39] andyearnshaw opened #38 "Precision issue in Firefox/SpiderMonkey"
[code]

This is both partially my fault for being lazy, and Mozilla's fault for not fixing [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=669246).  On my side, for the abstract functions `ToRawFixed` and `ToRawPrecision`, I used `Number.prototype.toFixed` and `Number.prototype.toPrecision` to cheat.  Both those functions have similar rounding bugs in v8 and in SpiderMonkey, but I thought

[2013-12-12 10:56] #32 closed, assigned to nobody

[2013-12-18 00:08] lwelti opened #39 "I ran a simple test and is not returning the right data"
I did a simple test:
script src="../Intl.complete.js"

then I have:
var lang = "es-MX";
var date = new Date(Date.UTC(2010,1,9,3,0,0));

then I have:
var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};
document.write(new IntlPolyfill.DateTimeFormat(lang, options).format(date));

and no matter which format I am using it always returns:

"lun, 8 '{day}{weekday}' febrero '

[2013-12-18 09:18] #39 closed, assigned to nobody

[2013-12-18 17:24] lwelti opened #40 "Wrong formats"
Wrong formats.

having lang = es-ES

Using Intl Object:
var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};
document.write(new Intl.DateTimeFormat(lang, options).format(date));

returns:
lunes 8 de febrero de 2010

Using IntlPolyfill:
var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};
document.write(new IntlPolyfill.DateTimeFormat(lang, op

[2013-12-18 18:08] #40 closed, assigned to nobody

[2013-12-19 21:48] lwelti opened #41 "Update readme to show how to switch between Intl vs IntlPolyfill"
is it possible to show an example of how to detect if Intl is available then use IntPolyfill in nodejs and Browser.
thanks!

[2014-01-09 00:27] lwelti opened #43 "es_MX decimal and group are wrong"
for es_MX you have:

[code]

here is the error:
https://github.com/andyearnshaw/Intl.js/blob/master/locale-data/json/es-MX.json#L886

and it should be the other way around, here is a reference in CLDR:
http://www.unicode.org/repos/cldr/trunk/common/main/es_MX.xml

where you will find:

<pre>
symbols numberSystem="latn">
decimal draft="contributed">.</decimal>
group draft="contributed">,</group>

<

[2014-01-10 09:39] #43 closed, assigned to nobody

[2014-01-10 14:13] #12 closed, assigned to nobody

[2014-01-11 13:54] hakanson opened #47 "Update README for CLDR version"
saw a commit message with "Recompiled data using CLDR v24" but README has "CLDR version 23.1" under the "Locale Data" section

[2014-01-11 14:50] #47 closed, assigned to nobody

[2014-01-15 23:12] caridy opened #49 "docs for how to use the polyfil"
readme.md doesn't provide any example

[2014-01-17 09:25] #49 closed, assigned to nobody

[2014-01-20 04:34] NorbertLindenberg opened #51 "Incorrect grouping in number formats for India"
India, Pakistan, Bangladesh, Sri Lanka, and Bhutan use a special scheme for grouping digits: The last group before the decimal separator has three digits, but all other groups have two digits. For example: 1,00,000.00 (one lakh), 1,00,00,000.00 (one crore).

CLDR specifies this in the decimal pattern strings for locales such as en-IN: #,##,##0.###.

Intl.js doesn't seem to support this grouping sc

[2014-01-21 23:36] apipkin opened #52 "ToLocalTime should use UTC methods and modify from there"
Intl.js only supports UTC timeZone, but when formatting time, it calls `ToLocalTime` which does not utilize the timezone passed in as the third parameter.

Changing the time lookups for the returned Record to UTC methods would return the UTC time codes. This should make supporting timezones in the future easier as it would be modifying from the UTC time.

/cc @andyearnshaw @drewfish @caridy

[2014-01-22 09:10] #51 closed, assigned to nobody

[2014-01-22 09:10] #52 closed, assigned to nobody

[2014-01-23 09:43] andyearnshaw opened #53 "Restore tainted Object.prototype and Array.prototype after tests"
In the Sauce Labs testing, some tests fail that do not fail when running the test manually in the given browser.  For example:

[code]

The tainted environment is likely to be the cause of these failing tests.  The tainted properties define a setter that throws an error, but are defined as configurable and thus could simply be deleted after the test is run.

[2014-01-23 10:06] andyearnshaw opened #54 "Investigate workarounds for failing tests in Chrome"
Chrome is currently failing tests where properties of `Array.prototype` and `Object.prototype` are tainted.  Unlike #53, which affects the test environment, the actual test is failing with the message:

This issue is specific to Chrome and does not affect v8/Node.js.

[2014-01-23 23:10] apipkin opened #56 "DateTimeFormat returns month when should only return year"
In Chrome Console:

[code]

In Intl.js

[code]

[2014-01-30 11:50] #53 closed, assigned to nobody

[2014-02-02 19:52] hakanson opened #57 "Currency formatting with currencyDisplay="name""
In Chrome, when I format a currency by name, I get

[code]

Using `Intl.js` I get `undefined` in the output

[code]

Internet Explorer 11 treats "name" the same as "code" showing `USD 12,345.67`

Also, a similar bug exists in Firefox.
[Bug 866372 - Currency formatting with currencyDisplay="name" results in error](https://bugzilla.mozilla.org/show_bug.cgi?id=866372)

[2014-02-03 16:36] andyearnshaw opened #58 "Don't override .toLocaleString functions if they're already wired up to native Intl"
Currently, we avoid overriding `Intl` by defining as `IntlPolyfill`.  However, `Number.prototype.toLocaleString`, `Date.prototype.toLocaleString` and friends are still defined by our library and take the place of the native implementations.

We should check that these functions are not already wired up to a native implementation of Intl before defining them ourselves.

[2014-02-03 21:32] #38 closed, assigned to nobody

[2014-02-03 21:32] #57 closed, assigned to nobody

[2014-02-04 03:32] hakanson opened #59 "toLocaleTimeString converts times to GMT"
Running on Chrome (with native `Intl` support in CST), the following core formats the time of `Jan 1, 2013 1:01:01 PM` correctly as `1:01 PM`

[code]

But, using `Intl.js` in both Firefox 26.0 and Safari 7.0.1 I get `7:01 PM`

[code]

Also affects `toLocaleString`

[code]

[2014-02-04 19:58] acdha opened #60 "IE8 regression"
It looks like there's a problem caused by IE8's partial `defineProperty` support, which only works with DOM objects and causes Intl to fail with `Object doesn't support this action` at load time. This can be detected by actually testing it inside a try/catch block:

https://gist.github.com/acdha/8810743

Unfortunately, this still isn't enough:

[code]

`Object doesn't support this property or meth

[2014-02-04 21:53] #60 closed, assigned to nobody

[2014-02-05 09:09] #59 closed, assigned to nobody

[2014-02-06 09:53] #58 closed, assigned to nobody

[2014-03-13 08:00] eddydas opened #62 "maximumSignificantDigits is bugged"
IntlPolyfill is the Intl.js implementation, while Intl is the Chrome native object.

(new IntlPolyfill.NumberFormat('en-us',{useGrouping:false, style:'decimal',maximumSignificantDigits:15})).format(1000000);
"100000"

(new Intl.NumberFormat('en-us',{useGrouping:false, style:'decimal',maximumSignificantDigits:15})).format(1000000);
"1000000"

Interestingly,

(new IntlPolyfill.NumberFormat('en-us',{

[2014-04-17 23:50] bthecorgi opened #64 "toLocaleString not respecting short format (numeric, numeric, numeric)"
(new Date(1)).toLocaleString('en-US', { year: 'numeric', month : 'numeric', day : 'numeric' });

"31 Dec 1969"  instead of "12/31/1969"

[2014-05-13 18:40] caridy opened #65 "DateTimeFormat `{ months: long }` is displaying short version instead"
Here is a repro case:

http://jsbin.com/coqoqaci/1/edit

[code]

where `a` and `b` should be equal, they are not:

Native: `January 2014`

Polyfill: `Jan 2014`

_This issue was reported by Flickr._

[2014-05-15 09:47] #62 closed, assigned to nobody

[2014-05-15 09:47] #64 closed, assigned to nobody

[2014-05-15 09:59] #65 closed, assigned to nobody

[2014-05-15 12:22] #56 closed, assigned to nobody

[2014-06-10 20:29] ehartford opened #66 "ibm ecma402 or intl.js"
what's the difference between intl.js and [ibm ecma402](https://github.com/ibm-js/ecma402)?

[2014-06-10 23:30] #66 closed, assigned to nobody

[2014-06-11 11:23] andyearnshaw opened #67 "Breaking down the Intl.js source code"
I've been experimenting making the source code a little more modular to try and achieve the following results:

 - Better organisation of source code
 - Easier to extend with missing or newer spec features and proposals
 - No need to rebuild Intl.complete.js every time we need to run the tests
 - Configurable build process (e.g. build without DateTimeFormat)

I figured this was necessary when I st

[2014-06-14 11:54] fhemberger opened #68 "Intl.DateTimeFormat returns month:long instead of month:short"
[code]

Expected: `Dec 20, 2012`
Actual: `December 20, 2012`

[2014-06-19 15:28] clarle opened #69 "Duplicated '月' character in Chinese date formatters"
In the generated JSON locale files, it looks like Chinese is behaving a bit strangely.

Because the Chinese months are using `long`, we end up getting something like this when rendering it out:

2014年 六月月 19日 星期四

The '月' character for month is duplicated, when it really should be:

2014年 六月 19日 星期四

Or even better:

2014年 6月 19日 星期四

The month format should probably be switched out to `narrow` or

[2014-07-07 13:41] eddydas opened #71 "Precision error in ToRawPrecision"
In ToRawPrecision, you have these lines:

f = Math.round(Math.exp((Math.abs(e - p + 1)) \* Math.LN10)),
m = String(Math.round(e - p + 1 < 0 ? x \* f : x / f));

f is very prone to precision error:
// f = Math.round(Math.exp((Math.abs(20)) \* Math.LN10))
// 100000000000001000000

This makes m very inaccurate, at least in our targeted precision of 21 digits.
Result is that numbers formatted using Si

[2014-07-11 23:29] ShawnXiangXu opened #72 "Some Date/Time formats missing last character for some locales (for example, ko and ko-KR)"
When converting from cldr data.json to Intl.js *.json files, some Date/Time formats' last character was missing.

For example, in ko.json, the following:
            {
                "year": "numeric",
                "month": "long",
                "day": "numeric",
                "pattern": "{year}년 {month} {day}"
            },

should be
            {
                "year": "numeric",

[2014-07-16 13:06] #72 closed, assigned to nobody

[2014-09-23 19:44] juandopazo opened #75 "Intl.DateTimeFormat with just one option"
`Intl.DateTimeFormat` seems to work fine if you use all its options. For example, the behavior of the polyfill for this looks correct:

[code]

However, when you specify only one option, the polyfill seems to include other parts of the date:

[code]

/cc @caridy @ericf

[2014-10-13 07:45] andyearnshaw opened #77 "Switch to using the raw CLDR data"
In a rather short-sighted attempt at boosting the performance of the library, I wrote a small script to compile CLDR data into the format used by the ECMA-402 spec.  I see the mistake now, as it's become difficult to include all the date patterns for each locale without bulking up the data tremendously.

We should use the raw CLDR formats for the best chance at matching the output from native vers

[2014-10-21 06:44] eddydas opened #78 "non-Latin percentages doesn't bear the correct percent sign"
In ar-sa, nu=arab
But the formatted percentage sign is always the Latin percent sign instead of the Arabic one.

The fix should be in function FormatNumber (numberFormat, x)
where you need something like this at the end of the function:

if (internal['[[style]]'] === 'percent') {
        result = result.replace('%', ild.percent);
    }

[2014-10-27 13:14] ragulka opened #79 ""2-digit" date formatting is different from native implementation"
[code]

As you can see, Intl.js fails to pad the month number with a zero (`4` vs `04`).

[2015-01-18 18:54] hqm opened #81 "error when loading into Rhino"
Hi,

I'm trying to load Intl.js into Rhino, the js interpreter that is written in Java. I tried using both Rhino 1.7R3 and 1.7R4 (the latest) and I get the following error when loading the library:

PRODUCTION $ java -jar /Users/hminsky/src/rhino.jar -O -1
java -jar /Users/hminsky/src/rhino.jar -O -1
Rhino 1.7 release 3 2011 07 19
js> load("/Users/hminsky/src/intl.js/Intl.js/dist/Intl.js")
load("/

[2015-01-20 03:45] hqm commented on #81
A workaround is to force this function to return false

    var $$core$$Intl = {},

        $$core$$realDefineProp = (function () {
//            try { return !!Object.defineProperty({}, 'a', {}); }
//            catch (e) { return false; }
         return false;
        })(),

This make most of the regression tests pass, with the exception of those that try to check if the Intl object is read-onl

[2015-01-20 12:44] hqm commented on #81
I reported a Rhino bug with defineproperty, as https://bugzilla.mozilla.org/show_bug.cgi?id=1123640

[2015-02-16 16:03] bakura10 commented on #68
ping @jasonmit

Could we have someone at Yahoo to fix this very long-awaited bug? I've tried to dig into the code myself but definitely too obscure for me. I know this must be a complex piece of software, but having date not correctly showing on Safari and iOS since nearly one year is quite annoying, actually :(.

Thanks in advance! :)

[2015-02-16 22:03] jerrymf opened #82 "New release with FF bugfix"
Hello,

could you make new release with your FF bugfix included? I would like to use it, but the latest release downloaded by npm crashes in FF due to RegExp.lastMatch is undefined.

Thx very much.

[2015-02-17 03:09] caridy commented on #68
ok, we will try to get someone to fix this.

[2015-02-17 06:54] bakura10 commented on #68
Thanks! ;)

[2015-02-17 11:41] okuryu commented on #68
I'll try to take a look if no one else wants to do. :)

[2015-02-17 12:10] andyearnshaw commented on #82
Sorry, I get barely any time for personal projects these days.  I'll try and issue new release over the next few days.

[2015-02-17 12:20] andyearnshaw commented on #68
@okuryu that would be an enormous help.  The reason I haven't gotten round to it is that I don't have much time for personal projects and this is not a simple change.  As per #77, we need to remove the data pre-compiling step and move some of the logic from the data compiler to the main formatting code.

Side note: this isn't strictly a bug, Intl.js actually supports the minimum subsets of date fo

[2015-02-17 15:33] caridy commented on #82
@andyearnshaw we could take care of that if needed.

[2015-02-17 16:06] ericf commented on #68
We can also file a bug against the spec to see if it's possible for it to add more specification around the output of the formatters — although it's likely to be a big can a worms.

[2015-02-17 23:42] andyearnshaw commented on #68
I think those subsets were chosen as some locales will be missing some
formats. It's not even required (but it is recommended) that
implementations use CLDR, so there's always a chance of different outputs
in different environments. Norbert could probably tell you the exact
reasons.

Side note: this isn't strictly a bug, Intl.js actually supports the minimum
subsets of date formats required by the

[2015-02-19 15:34] andyearnshaw commented on #82
@caridy: that would be fantastic.  I've given both you and @ericf push access, let me know if you need to extend this to anyone else.

[2015-02-19 15:45] caridy commented on #82
awesome, we will take care of this one.

[2015-02-20 00:04] mjackson commented on #75
I just ran into this issue as well and thought I was going crazy.

[code]

@andyearnshaw Can you shed any light here?

[2015-02-20 01:31] caridy commented on #82
I will probably release 1.0.0-rc-1 or something along those lines since this includes the whole refactor and so.

[2015-02-20 01:32] caridy commented on #75
related to https://github.com/andyearnshaw/Intl.js/issues/68, we will try to fix it asap.

[2015-02-20 01:32] caridy commented on #79
related to https://github.com/andyearnshaw/Intl.js/issues/68

[2015-02-21 18:19] mjackson commented on #75
@caridy Thank you! :heart:

[2015-02-24 09:16] tume commented on #82
Any updates on this? Also having the same issue.

[2015-03-10 10:11] slorber opened #83 "Document how to load Intl polyfill with Browserify"
Hi,

Yepnope is deprecated and recommend using a packaging tool such as Browserify. I'm using Browserify but I have absolutly no idea on how to load Intl polyfill with it.

Should I call `bundle.add`, should I use a shim configuration?

[2015-03-10 13:21] slorber commented on #83
If that can help I provided an answer on SO that worked for me:
http://stackoverflow.com/questions/27870974/what-is-the-correct-way-to-load-polyfills-and-shims-with-browserify/28964831

[2015-03-10 14:02] caridy commented on #83
I will not recommend using browserify/webpack for polyfills because that means loading all that extra baggage for modern browsers, so you're essentially penalizing users running the latest version of chrome for example. Even though those polyfills will not be applied because they don't need to, they will be loaded and patched.

[2015-03-10 15:17] slorber commented on #83
So this seems a bit contradictory to what yepnope authors think :)

I don't care so much about bundle, as I split my bundle in appLibs.js + app.js, appLibs.js takes some time to load only the first time and is cached after that. And connection throughput is pretty good, even on mobile. Issuing a new request on mobile just to load yepnope can actually take more time than having some useless polyfil

[2015-03-10 16:13] caridy commented on #83
from the historical POV: yepnope was creating by alex way before polyfills became popular :)

from the perf POV: it is not only about loading cacheable content (appLibs.js) it is about the cost of parsing and executing that code unnecessarily, and penalizing users of newer/evergreen browsers.

from the eng POV: using yepnope means that your app logic will have to wait for a callback (yepnope callb

[2015-03-13 12:40] slorber commented on #83
@caridy I understand your point about parsing and loading in memory unnecessary JS.

I don't understand what you mean by "the polyfill service"?

[2015-03-13 15:19] caridy commented on #83
@slorber https://cdn.polyfill.io/v1/docs/, that's one example of a polyfill service. Probably the most successful one. I don't think they support Intl yet, but we can ask them.

[2015-03-13 16:09] slorber commented on #83
never heard of this before but I really like this! thanks
https://github.com/Financial-Times/polyfill-service/issues/108

[2015-03-18 19:23] caridy commented on #77
I have done a lot of experimentation on this regards, the problem is that the amount of data will also increase drastically if we add all CLDR data, I'm looking at:

[code]

although, I will say that this is not more than:

[code]

but it will require more computations during runtime, not that I'm worry about it, since this is a polyfill for older browsers :), what do you think about this @andyear

[2015-03-18 19:31] ericf commented on #77
And Node.js, where the problem is exacerbated with many connections to a server.

[2015-03-18 23:08] caridy opened #86 "Switching to use JSON CLDR data instead of java"
I have been working on this for a while now to simplify the build process, similarly to what we did for formatjs libraries. As part of the process, I have an implementation that matches the current process, producing almost the exact same data (updating few things since I'm using the latest cldr data).

One thing that is problematic is that fact that JSON CLDR only contains the common ("stable"),

[2015-03-18 23:19] caridy commented on #86
Checking support for those 16 locales in browser using this code:

[code]

None of those 16 locales is supported in FF, and only `tg` is supported in chrome.

[2015-03-18 23:22] caridy commented on #86
This makes it even more compelling the story to remove those unstable locales from the polyfill. /cc @ericf

[2015-03-19 05:13] ericf commented on #86
So for these locales, they are different than the `root` locale, and there's no overlapping browser support. And in the CLDR JSON data these locales have zero data that the polyfill needs.

It seems like something is missing here since the output is different between these locales when running them in IE — where is this data coming from if not the CLDR?

@bterlson do you know where Windows (especi

[2015-03-19 07:49] andyearnshaw commented on #77
Indeed, that was the reason for the custom data format in the first place
(to avoid the runtime costs) and gzipping would be highly beneficial to the
format because of the many duplicated string patterns.

I think the payoff would probably be worth it though, it seems to be every
few weeks we get another report about Intl.js not matching browser formats.
On 18 Mar 2015 19:32, "Eric Ferraiuolo" <no

[2015-03-19 09:27] andyearnshaw commented on #86
The fact that they are missing from browsers could be seen as a compelling reason to keep them (so people can polyfill support–albeit unstable support–for those languages).  However, I don't really see dropping them as a problem.  Anybody who really needs them could probably just generate the JSON files themselves.

[2015-03-19 13:27] caridy commented on #86
@ericf JSON CLDR only contains the common (stable locales), while LDML has all the data. The common ("stable") unicode.org/repos/cldr/trunk/common/ and the seed ("alpha") http://unicode.org/repos/cldr/trunk/seed/main/

[2015-03-19 16:53] ericf commented on #86
@caridy okay, that explains what we're seeing then. Are there docs anywhere that describe what the seed/alpha set of locales means?

[2015-03-19 20:17] bterlson commented on #86
Chakra uses Windows APIs to carry out localization tasks, and so uses Windows' built-in locale data.

[2015-03-23 18:33] acdesouza opened #87 "I would like to have a rails gem install option"
I'm using this in a Rails App. And, because of Rails Asset Pipeline I would prefere use it as a gem.

So, I created this project: https://github.com/acdesouza/intljs-rails

If you prefer to maintain it, I can delete the project.

[2015-03-25 22:12] caridy commented on #19
for the record, this is what we have in chrome today:

[code]

while the polyfill will output: ``'Wednesday, March 25, 2015, 10:11:54 PM'`

[2015-03-27 17:28] alex-seville opened #88 "Bug with Chinese date"
With Intl:
(new Intl.DateTimeFormat('zh-Hant-HK', { year: 'numeric', month: 'long', day: 'numeric'})).format(new Date())

produces:
"2015 年 3 月 27 日"

With Intl.js, it produces:
"2015 年 三月 月 27"

[2015-03-27 18:56] caridy commented on #88
This should be fixed by PR #85:

[code]

If you're in a hurry, ping me (you know where to find me). If flickr is using the internal polyfill service, this will be coming to you today :)

[2015-03-27 18:56] caridy commented on #88
I will keep this open for now, until we merge that release the new version.

[2015-03-28 00:06] okuryu commented on #88
This is a duplicate of #69.

[2015-03-31 04:18] #88 closed

[2015-04-01 22:16] longlho commented on #19
Having used to maintain [timezone-js](https://github.com/mde/timezone-js), timezone is a whole other can of worms that is both natively buggy cross-browser and confusing as well. Although it'd be great if it is supported :smile:

[2015-04-01 22:30] mj1856 commented on #19
@longlho  - [moment-timezone](http://momentjs.com/timezone/) has gotten a lot better lately. :)

[2015-04-02 04:26] caridy opened #89 "Implement `require('intl').polyfill(['en', 'fr', 'pt'])`"
Now that nodejs 0.12, and iojs ships with Intl by default, the polyfilling process becomes a little bit messy. For info about this here: http://formatjs.io/guides/runtime-environments/#polyfill-node

These is the piece of code that we are using today for polyfill Intl in node:

[code]

[2015-04-02 04:27] caridy commented on #89
I will probably try to get this in by 1.0.0.

[2015-04-06 18:56] caridy commented on #86
https://github.com/andyearnshaw/Intl.js/pull/85

[2015-04-06 18:58] caridy commented on #82
https://github.com/andyearnshaw/Intl.js/pull/85

[2015-04-06 19:03] caridy commented on #77
Ok, I finally get a chance to implement this here: https://github.com/andyearnshaw/Intl.js/commit/869782caed4b82d74297330009c9b268dca49705

[2015-04-06 19:05] caridy commented on #75
fixed by https://github.com/andyearnshaw/Intl.js/pull/85

[2015-04-06 19:07] caridy commented on #69
fixed by https://github.com/andyearnshaw/Intl.js/pull/85

[2015-04-06 19:07] caridy commented on #68
fixed by https://github.com/andyearnshaw/Intl.js/pull/85

[2015-04-06 19:08] caridy commented on #67
This is done, merged into master, and will get consolidated into 1.0.0-rc-1 in PR https://github.com/andyearnshaw/Intl.js/pull/85

[2015-04-06 19:08] #67 closed

[2015-04-06 19:27] fhemberger commented on #68
Great, thank you!

[2015-04-17 21:21] kate2753 opened #90 "Support a numeric system other than a default"
If user specifies a different numeric system in locale string (e.g. `ar-u-nu-latn`) formatted output should use that numeric system. Currenly Intl.js falls back to default numeric system for that locale instead.

For example:
[code]

In Chrome and Firefox output is `"17 أبريل، 2015"`.  Intl.js polyfill's output is `١٧ أبريل، ٢٠١٥ `

[2015-04-21 19:23] xjamundx commented on #83
Yeah running into the same thing for webpack, where the webpack build even minified adds like 600kb. I know there are things like the `ContextReplacementPlugin` that people used to solve a similar issue for moment, but I'm looking for any guidance. http://stackoverflow.com/questions/25384360/how-to-prevent-moment-js-from-loading-locales-with-webpack

[2015-04-21 21:16] kate2753 opened #92 "Incorrect narrow weekday names"
Intl.js polyfill is not using correct values for narrow weekday names.

For example (if `[ '', 'yMMMEEEEEd' ]` format with narrow weekday is added to the `Ldml2Json.js` tool)  Intl.js polyfill's output for

[code]
is
[code]

While Chrome 42 and Firefox 37 both output:

[code]

[2015-04-22 17:04] xjamundx commented on #83
Proper webpack answer:

[code]

[2015-05-01 15:26] ronjouch commented on #75
@caridy thanks too for this fix! Fantastic work :)

[2015-05-18 17:17] samuelcole opened #95 "Trouble building"
[code]

I ran all the `cldr` tasks and everything. What am I missing?

[2015-05-18 17:21] kate2753 commented on #95
@samuelcole, @caridy missed to check in `src\cldr.js` file during refactor in #85 . I've left a [comment](https://github.com/andyearnshaw/Intl.js/pull/85#issuecomment-96828774) on that pull request, but never heard back.

[2015-05-18 17:32] samuelcole commented on #95
so we're out of luck until he pushes that? that's a bummer...

this code looks great though!

[2015-05-18 17:41] kate2753 commented on #95
You could probably re-create what original `cldr.js` file was based on [dist\Intl.js](https://raw.githubusercontent.com/andyearnshaw/Intl.js/master/dist/Intl.js). Anything prefixed with `$$cldr$$` was originally in `src\cldr.js` file. That's pretty cumbersome though. Having @caridy check in the original file is much better way to this this! :)

[2015-05-19 07:42] andyearnshaw commented on #95
I think @caridy has been away and I'm not sure if that is still the case.  Maybe @ericf would know more.

[2015-05-19 07:43] #92 closed

[2015-05-19 11:46] ikr opened #96 "The polyfill doesn't work in IE8"
Opening this in IE8 on Windows XP SP3

[code]

Results in `undefined` alerted. In IE9 the same code alerts `[object Object]`

Demo: https://demo.trade.stc.ch/Intl.html (mind the self-signed cert)

[2015-05-19 13:50] Saeven opened #97 "Would you be open to getting onto packagist/composer?"
I'd gladly create a composer.json file for you..

Thanks!
Alex

[2015-05-19 15:30] daemonsy commented on #87
If you gemified the project just for bundling it, consider using `https://rails-assets.org/`

Add it as a gem source, and you can require bower assets.

[code]

It even helps you match up to bower versions.

[code]

This `require` line exposes the `main` key in bower.json, which in this project, is exactly what you want.

https://github.com/andyearnshaw/Intl.js/blob/master/bower.json#L5

Hope that

[2015-05-20 11:15] ikr commented on #96
Sorry. The invalid cert is the problem. IE8 on XP refuses to load anything into a Web site with an invalid SSL cert.

[2015-05-20 11:15] #96 closed

[2015-05-20 12:14] andyearnshaw commented on #96
Thanks for the followup, I wasn't sure when I'd have time to look into this.

[2015-05-20 12:26] endragor opened #98 "Support for month,day,hour,minute and year,month,day,hour,minute formats"
I know they are non-must, according to the spec, but we use them in production, and would love to see the polyfill support them.
I don't think a format like `May 20, 12:26 PM` is uncommon. We use the version with the year when the year is not current.
If you provide one of these formats to `Intl.DateTimeFormat` right now, you'll get the longest possible format: `Wednesday, May 20, 2015, 12:26:40 P

[2015-05-22 08:12] jasonmit commented on #95
He is still away @andyearnshaw

[2015-05-22 12:51] lexdon opened #99 "Update npm package"
The package for Intl.js on npm was last updated [a year ago](https://www.npmjs.com/package/intl). Could we pretty please get an update published?

[2015-05-28 14:46] samuelcole commented on #95
still missing?

[2015-05-28 18:30] gpbl commented on #99
I'm a bit worried for the future of this project, since it is needed to use Intl with the awesome `react-intl`. I'd love to see https://github.com/andyearnshaw/Intl.js/pull/85 published.

[2015-05-29 16:01] satazor opened #100 "Release a version + tag"
Can you please release a new version of the library with the progress made on the master branch? We would like to lock to a specific version but we need the latest changes.

Thanks.

[2015-05-29 16:08] okuryu commented on #100
Maybe duplicate of #99.

[2015-05-29 16:17] kate2753 commented on #90
Closing the issue since associated pull request has been merged.

[2015-05-29 16:17] #90 closed

[2015-06-01 09:48] #100 closed

[2015-06-01 09:50] andyearnshaw commented on #99
@caridy was going to release a new version but he's been away.  I'm a little behind after recent contributions to the project so I'll try and get some time later this week to catch up and push a new release.

Ideally, I'd like to get the Travis CI problems resolved so I can ensure tests are passing and then we can get a more regular release schedule going.

[2015-06-01 09:53] andyearnshaw commented on #95
Fixed by #101.

[2015-06-01 09:53] #95 closed

[2015-06-04 12:52] ifuller1 opened #102 "Incorrect currency pattern in uk.json"
Hi,

https://github.com/andyearnshaw/Intl.js/blob/f5ab43f764d6cf1be61731f7c57b325ac4c2b6d6/locale-data/json/uk.json#L2148 shows a currency format for the UK which puts the currency symbol after the value. I believe it should be other other way around.

On ES5 browsers the result of

`(new Intl.NumberFormat('en-UK', {style:'currency', currency:'GBP'})).format(0)` is `£0`

Falling back to Intl.js th

[2015-06-04 13:52] andyearnshaw commented on #102
`en-UK` isn't a supported CLDR locale, you probably meant `en-GB` (British English). If you're including `uk.json` data but not `en-GB.json` or `en.json`, it's probably falling back to `uk` (Ukranian) instead.

[2015-06-04 16:11] ifuller1 commented on #102
That's for the clarification, you're quite right that uk isn't valid!

Should the implementation be consistent with ES5 though?

[2015-06-04 17:12] ifuller1 commented on #102
I actually see that we were only including uk in our build - thanks for the feedback.

Ian

[2015-06-04 17:12] #102 closed

[2015-06-05 09:52] Spy-Seth commented on #89
That's a good idea! :+1:

[2015-06-05 10:11] Spy-Seth commented on #98
I'm having the same issue I want to use short weekday format but in polyfilled environment its do not work.

[code]

[2015-06-05 10:31] endragor commented on #98
@Spy-Seth The format you need is actually `{weekday: 'short', year: '2-digit', month: 'long', day: 'numeric'}`. That set of fields must be supported, according to the spec.
Your issue is that the polyfill does not support `2-digit` format for `year` and `short` format for `weekday`. I believe you should file a separate ticket.

[2015-06-08 16:55] caridy commented on #97
I'm reluctant to have all sort of *.json files for all packagers. But you can probably create your own distro for `Composer` (in another repo), and we can add a link somewhere in case someone else is looking for it.

[2015-06-08 16:55] #97 closed

[2015-06-08 16:56] caridy commented on #87
same as in https://github.com/andyearnshaw/Intl.js/issues/97#issuecomment-110072445

[2015-06-08 16:56] #87 closed

[2015-06-08 17:03] caridy commented on #99
guys, I'm just back from sabbatical, I'm sorry for the delay. We will get the release out this week :)

[2015-06-08 22:54] caridy commented on #19
@longlho do you want to give it a try now that the code is a little better organized? jejeje

[2015-06-09 01:45] longlho commented on #19
lol sure :+1:  :)

[2015-06-10 18:10] caridy commented on #99
1.0.0-rc-1 is in NPM, help us to test it... and feedback...

[2015-06-10 18:10] #99 closed

[2015-06-10 18:11] caridy commented on #98
duplicated of https://github.com/andyearnshaw/Intl.js/pull/85, should work properly in 1.0.0-rc-1

[2015-06-10 18:11] #98 closed

[2015-06-10 18:13] caridy commented on #82
1.0.0-rc-1 is in NPM, it should have fixed this issue, help us to test it...

[2015-06-10 18:13] #82 closed

[2015-06-10 18:14] caridy commented on #81
probably fixed by https://github.com/andyearnshaw/Intl.js/pull/94
1.0.0-rc-1 is in NPM, help us to test it...

[2015-06-10 18:14] #81 closed

[2015-06-10 18:14] caridy commented on #79
1.0.0-rc-1 is in NPM, help us to test it...

[2015-06-10 18:14] #79 closed

[2015-06-10 18:15] caridy commented on #78
I think this is solved now with the new cldr data.
1.0.0-rc-1 is in NPM, help us to test it...

[2015-06-10 18:15] #78 closed

[2015-06-10 18:15] caridy commented on #75
1.0.0-rc-1 is in NPM, help us to test it...

[2015-06-10 18:15] #75 closed

[2015-06-10 18:16] caridy commented on #69
1.0.0-rc-1 is in NPM, help us to test it...

[2015-06-10 18:16] caridy commented on #68
1.0.0-rc-1 is in npm, help us to test it...

[2015-06-10 18:16] #68 closed

[2015-06-10 18:39] fhemberger commented on #68
@caridy Both of my previous test cases work fine with 1.0.0-rc-1. :+1:

[2015-06-10 22:52] okuryu commented on #69
I'm trying out `intl@1.0.0-rc-1`, it seems to be strange.

Node 0.10.38:

[code]

Node 0.12.4:

[code]

[2015-06-11 00:00] caridy commented on #69
@okuryu try using `IntlPolyfill.DateTimeFormat()` to make sure that the polyfill is what you're actually testing.

[2015-06-11 00:20] okuryu commented on #69
Oops! Sorry for my bad. :sob: But this issue still occurs.

Node 0.10.38:

[code]

Node 0.12.4:

[code]

[2015-06-11 01:59] caridy commented on #69
@okuryu remember that I can't read Japanese. What exactly is the problem? clearly, the native Intl in `Node 0.12.4` is producing something different than the polyfill, but which one is the correct one?

[2015-06-11 02:44] okuryu commented on #69
@caridy Expected value is `'2015年6月11日木曜日'`. Chrome returns this expected value, it's correct. Result of Native Intl in Node 0.12 also isn't correct, my guess it's due to it doesn't has locale data other than English as default. Anyway, this issue will be resolved when fixed Intl.js.

[2015-06-11 03:55] endragor commented on #98
Confirmed works as expected in 1.0.0-rc-1. Thank you!

[2015-06-11 13:43] caridy commented on #69
we should check cldr formatter, I suspect that is the root of the problem.

[2015-06-15 14:11] ollym opened #104 "Incorrect date formatting"
[code]

Should return `Jun`

Instead it returns: `June 2015`

Further proof:

[code]

[2015-06-15 14:30] ollym commented on #104
Sorry, was using 0.1.4, not 1.0

[2015-06-15 14:30] #104 closed

[2015-06-16 07:36] bcecchinato opened #105 "Format date with 2-digits doesn't work properly on IE9 and IE10"
Hi there !

I'm using ember-intl on one of my project and found a small bug under IE10 and IE9.
My hbs file is :
[code]

And my format.js file :
[code]

I'm expecting to get a date like 01/01/2015, but when the first digit of day/month is 0, the rendered date is 1/1/2015.

Since version 1.0.0-rc-1, Chrome and IE11 are ok§. IE9 and IE10 are displaying the wrong date.

Regards,

[2015-06-16 08:46] ollym opened #106 "1.0.0-rc-1 Fails in IE8"
[code]

Expected output `Tue` or `Wed` or whenever you try this out.

In IE8 on XP, it returns `undefined`

Similarly i'd expect the following:

[code]

To return something like `June 2015`

Instead in IE8 it returns `2015 2015`

[2015-06-16 15:21] caridy commented on #106
cool, thanks @ollym, we need a warrior to take on this one jejeje.

[2015-06-16 15:23] caridy commented on #105
this one should be easy to fix :), I hope!

[2015-06-16 15:49] ollym commented on #106
Just to help debug, the following:

[code]

Returns:

IE8 on XP

[code]
And on Chrome:

[code]

Clearly the month value is wrong. Not sure whether this is part of the cause.

[2015-06-17 12:39] danieljuhl opened #107 "Long month is shown as short month"
Given the options `{ year: 'numeric', month: 'long', day: 'numeric' }` or `{ year: 'numeric', month: 'short', day: 'numeric' }`, both produces `1 Jul 2015` for `new Intl.DateTimeFormat( 'en-GB', options ).format( new Date('2015-07-01') )`

The same is reproduced using locale `da-DK`, producing `1. jul. 2015`.

I would expect `1 July 2015` and in Danish `1. juli 2015`

[2015-06-17 13:58] caridy commented on #107
@danieljuhl this was fixed in intl@1.0.0-rc-1, which was released few days ago.

[2015-06-18 01:06] caridy opened #108 "`{ month: 'long', day: 'numeric', year: 'numeric' }` still producing short month"
observable in rc1

[2015-06-18 01:06] caridy commented on #108
blocking https://github.com/yahoo/ember-intl/pull/124

[2015-06-18 05:50] Ekhoo opened #109 "Isomorphic time format issue"
I use `react-intl` and we have a time format issue with the polyfill version.

See => [here](https://github.com/yahoo/react-intl/issues/126#event-333200547)

(Using react-intl, polyfill on server, native on client)
With the `fr-FR` locale, I have a format issue with the `<FormattedTime />` component.

If I have a date like this one: `2015-06-17T06:00:00+0000`:
Server rendering => `8:00`
Client ren

[2015-06-18 08:18] danieljuhl commented on #107
What is wrong with my issue?

I've just upgraded to 1.0.0-rc-1, and this issue is still present ( actually it is a new issue, because the old behaviour was the other way round - short month showing as long month, but now it is long month showing as short )

[2015-06-18 08:19] danieljuhl commented on #108
How is this issue different from #107 ?

[2015-06-18 08:24] danieljuhl commented on #109
Isn't it the clients native implementation which is wrong? Which client are you testing on?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat

Valid values is `numeric` and `2-digit`, I would then assume that numeric for hour should produce `8` and `2-digit` should produce `08`

[2015-06-18 12:35] andyearnshaw commented on #109
@Daniel, the options passed are merely hints at the format you want.  Ultimately it depends on the pattern that is resolved from the locale data.

Upon investigation, it appears this is a pretty complicated issue and perhaps even a spec issue.  The spec defines internal descriptors for patterns that look like this:

[code]

CLDR data is precompiled to this format for the polyfill to reduce complex

[2015-06-18 17:18] caridy commented on #109
@andyearnshaw yes, I did a similar research yesterday for #108, and found that in deed, CLDR data covers only a subset of what browsers implements today. In the case of `en-GB`, these are all CLDR patterns we are producing internally to match the specs:

[code]

and that is coming from:

[code]

Clearly, there is no hours/minutes pattern with hours using the 2-digits pattern. But also I noticed th

[2015-06-18 19:55] caridy commented on #109
@danieljuhl @Ekhoo go ahead and try intl@1.0.0-rc-2

[2015-06-18 19:56] caridy commented on #77
this is now part of rc-1

[2015-06-18 19:56] #77 closed

[2015-06-18 19:57] caridy commented on #108
dupe of #107

[2015-06-18 19:57] #108 closed

[2015-06-18 21:39] danieljuhl commented on #109
@caridy Thanks, I'll test it tomorrow morning central european time.

[2015-06-18 22:06] caridy commented on #107
Well, after looking into the data, the only thing I can tell you is that the logic seems to be fine, and the CLDR data seems to be incomplete (as on version 26). Take for example `es` locale:

[code]

As you can see, in some cases, even with the `month` set to `long` it will choose the closest match, which is a pattern with a `short` month value. Sometimes, it does have the exact match. When looki

[2015-06-18 22:15] caridy commented on #107
Ok, I think I cracked this one. There are two set of values that are not used today in our algo, and those are defined at the same level as `availableFormats` per calendar, here is what we have there for `en`:

[code]

We just need to figure how to use them :), I will investigate more.

[2015-06-19 05:46] Ekhoo commented on #109
@caridy I still have the problem :/

[2015-06-19 08:29] andyearnshaw commented on #54
Looks like this is back to not failing again.  I'll close it for now and we can wait to see if it springs up again.

[2015-06-19 08:29] #54 closed

[2015-06-19 11:17] danieljuhl commented on #109
@caridy As far as I see, I still have the problem as well

[2015-06-19 11:20] danieljuhl commented on #107
@caridy As far as I see, I still have the problem as well.

[2015-06-19 12:59] rxaviers commented on #107
@caridy, UTS#35 specifies that CLDR doesn't "supply dateFormatItems with skeletons for every field length; in many cases fields in the skeleton and pattern can be expanded in parallel to handle a request". http://www.unicode.org/reports/tr35/tr35-dates.html#availableFormats_appendItems. Although, the spec doesn't suggest or guide the implementation. It seems your #111 fix is doing the right thing

[2015-06-19 13:28] andyearnshaw commented on #106
I've checked this out on IE11 in IE8 compat mode.  I had to make a small fix (see ie8-fix branch), but everything seems OK.  I'll see if I can get on sauce labs for a more genuine browser check.

[2015-06-19 15:01] caridy commented on #107
@danieljuhl check intl@1.0.0-rc-4 which is the one including this fix.

[2015-06-19 15:01] #107 closed

[2015-06-19 15:03] caridy commented on #106
@ollym can you give it a try with intl@1.0.0-rc-4?

[2015-06-19 15:03] caridy commented on #105
you can now try intl@1.0.0-rc-4, should be fixed. feel free to reopen.

[2015-06-19 15:03] #105 closed

[2015-06-19 15:06] caridy commented on #86
the new data structure is available in intl@1.0.0-rc-1

[2015-06-19 15:06] #86 closed

[2015-06-19 15:15] caridy commented on #37
As part of the CLDR json refactor that is now in 1.0.0x, I did some work around this, trying to match what we are doing with intl-messageformat, but I found some undesired side effects:

* some top level locales will have a lot of data (en, es, etc)
* since data formats are expanded when locale data is added to Intl, it implies initializing all locales in a bundle even though you probably need onl

[2015-06-19 15:17] caridy commented on #54
@andyearnshaw as part of the refactor, I'm now picking up the tests from 262 differently, but the outcome should be pretty much the same.

[2015-06-19 15:20] caridy commented on #109
@danieljuhl @Ekhoo are you guys trying intl@1.0.0-rc-4?

[2015-06-19 19:36] danieljuhl commented on #107
@caridy It seems to work.. I've tested both long and short month format with numeric day and year, and they both give the expected result, and the same result as native Intl in Chrome. Thanks for the quick fixes!

[2015-06-19 20:58] jasonmit commented on #107
Thanks @caridy :+1:

[2015-06-20 15:21] Ekhoo commented on #109
I tried the `1.0.0-rc-4` and I still have the problem.

[2015-06-22 06:48] bcecchinato commented on #105
Hi @caridy !

I havn't been able to test the version 1.0.0-rc-4 as it is not properly release :
[code]

Can you make a proper release build ?

[2015-06-23 08:26] andyearnshaw opened #113 "NPM install failing"
Just got the build working and now something else has broken.  Travis was failing at NPM install, so I deleted my Node modules and tried it for myself.  Definitely broken:

[code]

Listing the directories of that folder gave me:

[code]

It looks like there's a `package.json` missing in the download.  The only dependency for esprima I can find is `grunt@0.4.5 > js-yaml@2.0.5 > esprima@1.0.4`, but

[2015-06-23 08:42] #113 closed

[2015-06-25 18:11] ollym opened #116 "Consider making file names lower case?"
I'm having real issues with dynamic loading the locale files. Consider the below (in CoffeeScript):

[code]

Problem is some browsers will return `navigator.language` with something like "en-us". Am I expected to parse that and work out what it should be with capitals?

I think it would be easier to just lowercase every file name?

[2015-06-25 20:19] caridy commented on #116
@ollym this is very tricky. adding a lowercase will not help much because I could set my system preferences to use a very specific locale value like `en-US-Miami`, which should fallback to `en-US`, and `en`, and you will have no way to handle that.

essentially I believe that a validation and normalization should happen before you make a network request because you have no way to recover for a fai

[2015-06-25 20:25] ollym commented on #106
@caridy sorry for the delays here, IE8 is working again now (using master/rc4)

[2015-06-25 20:27] ollym commented on #116
@caridy Is it outside the scope of this library provide some utility methods for parsing and normalising language tags then?

[2015-06-25 20:28] caridy commented on #106
excellent.

[2015-06-25 20:31] #106 closed

[2015-06-25 20:37] caridy commented on #116
This is not a library @ollym, this is a polyfill, which means it implements what is in the specs, nothing more. That being said, we have been discussing some modifications to the specs to expose low level operations like this one you're asking for, here are the details: https://github.com/tc39/ecma402/issues/5.

Now, what you're asking here is a way to prepare the polyfill based on the system loca

[2015-06-25 22:22] ollym commented on #107
@caridy I'm still seeing this issue in RC4

[2015-06-26 01:29] caridy commented on #107
@ollym can you describe in details what you're seeing? can you do a prove of concept for me to debug it?

[2015-06-26 09:58] ollym commented on #107
@caridy straight from my iPhone (Safari on iOS has no native Intl support yet):

![screen shot 2015-06-26 at 10 57 51](https://cloud.githubusercontent.com/assets/143771/8375090/4dfa8c2c-1bf2-11e5-974c-df615fd8b846.png)

[2015-06-30 11:48] headcr4sh opened #117 "Date.prototype.toLocaleString gives wrong result. (month: "long")"
[code]

I tried with different languages (en, de, es, fr,...)
Format "long" doesn't seem to work as expected when trying to format months.

[2015-06-30 14:53] caridy commented on #117
@headcr4sh what version of the polyfill are you using?

[2015-07-01 02:31] caridy commented on #117
repro case:

[code]

I will look into the details.

[2015-07-02 09:55] ollym commented on #117
@caridy using master:

[code]

Returns

[code]

[2015-07-02 13:40] caridy commented on #117
yeah, there is something wrong with the new data, I'm investigating.

[2015-07-02 14:03] caridy commented on #117
@ollym are you sure that `new IntlPolyfill.DateTimeFormat('en', { year: 'numeric', month: 'short' }).format(new Date` is giving you `2015 M07`? I'm getting `Jul 2015`, but I do get that value when using `fr-FR`, which is also concerning.

[2015-07-02 14:47] caridy commented on #117
Ok, I figure why `fr-FR` was behaving incorrecting, just like any other non-root locale, will commit that soon.

[2015-07-02 17:03] gmunumel commented on #117
@caridy, great to hear that. I get the same issue.

[2015-07-06 07:53] gpbl opened #118 "Correct way to polyfill v1.0 in the browser (webpack)"
I've got my code working with v1.0 rc4 :tada: yet I'm not sure why it works. My goal is to require the polyfill using webpack's code splitting, loading the locale-data after Intl has been polyfilled – e.g. in Safari.

Before v1.0 [I was doing](https://github.com/gpbl/isomorphic500/blob/master/src/utils/IntlUtils.js#L34-L37):

[code]

Now I see the package to load has been moved in `intl/dist/Intl`

[2015-07-06 08:42] okuryu commented on #118
We're preparing an integration with the polyfill service, I think that it'll be a way to uses in the browser.

See also:

* https://github.com/yahoo/formatjs-site/issues/196
* https://github.com/Financial-Times/polyfill-service/issues/108
* https://github.com/Financial-Times/polyfill-service/pull/419

[2015-07-06 22:29] caridy commented on #117
@ollym @gmunumel master was updated to solve part of the problem in this issue.

[code]

[2015-07-07 01:11] caridy opened #119 "hour12 should be taken into consideration when searching for best match format"
this is related to issue https://github.com/andyearnshaw/Intl.js/issues/109

@andyearnshaw I have done some debugging on the issue described in issue #109, and here are some preliminary thoughts:

When trying to format a time in french using this code:

[code]

It will resolve to one of the formats under `availableFormats`, specifically, the pattern `"h:mm a"` from this line: https://github.com/an

[2015-07-08 17:54] caridy commented on #83
Intl support is in QA for the polyfill service: http://qa.polyfill.io/v1/polyfill.js?features=Intl.~locale.es%7Calways, I will close this issue as soon as it lands in production, after updating the docs on how to load the polyfill.

[2015-07-09 06:31] gpbl commented on #118
Thanks, interesting - will this change ship with `v1.0`? I'd keep this issue open until then.

[2015-07-09 06:54] okuryu commented on #118
* https://github.com/Financial-Times/polyfill-service/issues/430
* http://qa.polyfill.io/v1/docs/features/#Intl
* https://github.com/Financial-Times/polyfill-service/blob/master/package.json#L70

polyfill-service v1.5.0 RC is now on QA. It depends on intl.js v1.0.0-rc-4. You're able to try it via qa.polyfill.io.

[2015-07-09 07:09] gpbl commented on #118
great thanks! however I'm not sure yet how `polyfill-service` would help with webpack's code splitting :)

[2015-07-09 17:09] caridy commented on #118
@gpbl once the polyfill service supports Intl, you should not try to bundle up the polyfill with your app code, instead you should load the polyfill and patch the runtime only when it is absolutely needed, and that's what the polyfill service from FT does. This concept extends to any polyfill :)

[2015-07-09 18:34] gpbl commented on #118
...so the polyfill service doesn't actually help with webpack, it is meant to replace it. But as @xjamundx writes, [webpack already provides](https://github.com/andyearnshaw/Intl.js/issues/83#issuecomment-95265297) the way to apply the polyfill when needed. Why should I add a new library or depend from an external service?

I understand this is not the way the library authors think the polyfill ha

[2015-07-09 19:06] caridy commented on #118
Apply !== Load/Parsing, are you going to penalize all your users (even those that are running in browsers with support for Intl), which could be up to 90% in some cases (for desktop only products)?

Polyfills are optional patches for runtimes, they have nothing to do with app code, they should not be bundled with app code IMO.

[2015-07-09 19:43] gpbl commented on #118
Ah! I see the misunderstanding. No, this is not the case. Look to this:

[code]

it reads: <u>if `window.Intl` is not available</u>, **download** and require (i.e. execute) a file called `IntlBundle.js` which contains the `intl/Intl` package, then run the app. Browser supporting `Intl` will *not* even see the polyfill.

`require.ensure` is a pretty neat feature of webpack: during build time, with

[2015-07-09 20:29] caridy commented on #118
Ok, that makes sense. We can add the same configuration we use in react-intl, to define a custom way to require intl, and the locale data when using browserify/webpack, that should be easy. Will try to get that flush soon.

[2015-07-09 22:03] caridy commented on #83
https://github.com/andyearnshaw/Intl.js/pull/121

[2015-07-09 22:05] caridy commented on #118
Some progress here https://github.com/andyearnshaw/Intl.js/pull/121

[2015-07-11 00:04] #118 closed

[2015-07-11 00:14] caridy opened #122 "release 1.0 checklist"
* [x] local unit tests
* [x] travis
* [x] docs (readme)
* [x] publish
* [x] release notes
* [x] sanity check

[2015-07-11 00:15] caridy commented on #122
total 106 -- passed 106 -- failed 0

[2015-07-11 00:16] caridy commented on #122
Readme: https://github.com/andyearnshaw/Intl.js/commit/30cb2c40fe348b42e285b8dbd4b9d9bfab32c15d

[2015-07-11 00:16] caridy commented on #122
published: `+ intl@1.0.0`

[2015-07-11 00:25] caridy commented on #122
Release notes: https://github.com/andyearnshaw/Intl.js/releases/tag/1.0.0

[2015-07-11 00:33] caridy commented on #122
Alright guys (@Turbo87, @ollym, @okuryu, @kate2753 @mweibel, @andyearnshaw @ericf and @juandopazo), I finally get a change to release 1.0.0 in preparation for the FT polyfill service. There are still edge cases and bugfixes, but I didn't want to keep delaying the release, let's roll with it, and lets fix those issues when we get a chance! Thanks again for all the help.

[2015-07-11 00:33] #122 closed

[2015-07-11 01:15] okuryu commented on #122
:+1:

[2015-07-11 11:22] andyearnshaw commented on #122
Great work, @caridy, thanks!

[2015-07-14 01:54] jasonmit opened #123 "cannot specify maximumFractionDigits < 2 without also setting minimumFractionDigits"
https://github.com/yahoo/ember-intl/issues/167

It appears you need to pass a `maximumFractionDigits` and a `minimumFractionDigits` when dealing with the polyfill.

[code]

[code]

My sad attempt at triaging with what I feel is happening.

[code]

The function in question: https://github.com/andyearnshaw/Intl.js/blob/master/src/core.js#L955-L976

It's entirely possible that the spec was implemente

[2015-07-14 07:27] vectart commented on #117
@caridy Yesterday I've started with master version and got the same problem.

[code]

[2015-07-14 10:20] ollym commented on #117
@caridy Again, using 1.0.0 same issue

[2015-07-14 10:38] andyearnshaw commented on #123
We're just following the spec here.  The relevant part of the spec is section in 11.1.1:

So because _minimumFractionDigits_ isn't specified and the style is `'currency'`, _mnfd_ defaults to `2`.  Then, in _GetNumberOption_, 9.2.10:

_mxfd_ (the specified value) is less than _mnfd_ (the minimum permitted value) and the _RangeError_ is thrown.

FWIW Chrome doesn't throw, but Firefox does.  I haven'

[2015-07-14 10:38] #123 closed

[2015-07-14 10:44] jasonmit commented on #123
:+1: thanks for looking into this

[2015-07-14 11:59] vectart opened #124 "91% of formatted dates are different from native implementation"
Since I had faced https://github.com/andyearnshaw/Intl.js/issues/117 formatting issue, I created a simple check suite of native and polyfill implementation and it revealed that 5313 from 5831 formatted dates are different from native ones _(https://jsbin.com/wekebe/edit?js,output, check Chrome dev console)_

<img width="1740" alt="intl_results" src="https://cloud.githubusercontent.com/assets/40622

[2015-07-14 12:48] caridy commented on #117
Right. The issue is that we don't have that data at the moment. When you look at the available data from CLDR, you will see that the only match for `en` and `sv` locales are very limited, they both happen to use the same month format, which uses `LLL` which correspond to the short month:

https://github.com/andyearnshaw/Intl.js/blob/master/locale-data/json/en.json#L43
https://github.com/andyearnsh

[2015-07-14 12:55] caridy commented on #124
@vectart this is awesome. I will look into the details when I get a chance.

[2015-07-14 12:56] caridy commented on #124
Note to self: exact same results are exhibited in firefox.

[2015-07-14 13:03] vectart commented on #117
@caridy I don't really understand why you apply to CLDR guys. The Intl.js library is able to produce long month name with `day` option and outputs short month name without it. How is that related to CLDR?!

[code]
http://jsbin.com/foxise/edit?html,console

[2015-07-14 13:48] caridy commented on #117
@vectart we do have the metadata for the long months, we just don't have the formatter for it. You can look at the specifications to learn how we find the best match based on the configuration provided by the user.

[2015-07-14 19:52] jwdallas opened #125 "No support for weekday: 'long'"
Hello, I’m unable to get the 'long' version of the weekday. It seems that is not currently supported from my test here:
![screen shot 2015-07-14 at 12 48 48 pm](https://cloud.githubusercontent.com/assets/1310725/8683295/b4aaec7c-2a26-11e5-85ab-4981d46fb50f.png)
http://jsbin.com/lotaseyebu/1/edit?html,console

Results:
“Tue”

Expected:
“Tuesday”

This is likely related to https://github.com/andyear

[2015-07-14 22:28] andyearnshaw commented on #124
Whilst fixing this, it might be worth including this code as a regression test suite with an automatic fail if we don't achieve above a certain threshold.  I've been wanting to write some regression tests for a while now, it didn't occur to me to check all permutations against the native implementation that's shipped with node v0.12.

V8's Intl still fails a few of DateTimeFormat tests, but I thin

[2015-07-14 23:06] caridy commented on #124
I do have a test suite locally that I was planning to commit. Will try to get that in soon. @jasonmit was also going to help with that.

[2015-07-15 05:54] gpbl commented on #118
Thanks! Very happy with `1.0` :-)

[2015-07-15 07:36] andyearnshaw commented on #124
Awesome, I look forward to seeing it in action. :-)

[2015-07-15 08:21] vectart commented on #124
Yes, it would be great to see in [test results](https://travis-ci.org/andyearnshaw/Intl.js/jobs/70471455
) something more meaningful than
[code]

[2015-07-15 12:54] caridy commented on #124
@vectart those are generated tests for every step of the algo based on the specifications, we will just add other tests to verify cldr data, and compare with native.

[2015-07-15 14:05] vectart opened #126 "Support genitive case of month names"
Many languages on the Earth have cases and particularly genitive one. That's why CLDR locale data contains [stand-alone month translations](https://github.com/unicode-cldr/cldr-dates-modern/blob/master/main/fi/ca-gregorian.json#L62) but [Intl.js one doesn't](https://github.com/andyearnshaw/Intl.js/blob/master/locale-data/json/fi.json#L708). In result, we have wrong formatted strings.

Locale | `MM

[2015-07-15 14:06] vectart commented on #126
Related to #124

[2015-07-15 14:07] vectart commented on #124
Seems like these generated tests are absolutely useless

[2015-07-15 15:15] andyearnshaw commented on #126
If we do it for month names then we probably ought to do it for weekdays too.  It's probably best to only include this data where it differs from the standard format so as not to unnecessarily increase the JSON file sizes for most languages.

[2015-07-15 15:21] andyearnshaw commented on #124
@vectart: those tests are incredibly useful.  Although they don't assume any specific locales are supported (or that we're even using CLDR), they ensure that the bare minimum of required date/time formats are supported, the correct options are resolved for formatters, tags are properly canonicalised and matched and much more.

That being said, Intl.js has sorely needed some tests to prevent locale

[2015-07-15 15:35] vectart commented on #124
@andyearnshaw How was the `bare minimum of required date/time formats` defined if such basic formats doesn't work?
https://github.com/andyearnshaw/Intl.js/issues/117 `{ month: 'long' }`
https://github.com/andyearnshaw/Intl.js/issues/126 `{ month: 'long' }`
https://github.com/andyearnshaw/Intl.js/issues/125 `{ weekday: 'long' }`

I really want to use Intl.js but seems it's better to fallback to Mom

[2015-07-15 15:44] andyearnshaw commented on #124
From the spec, section 12.2.3:

Initially, we only supported one pattern for each of those subsets, the bare minimum to meet the spec's requirements, pass the tests and cover the majority of use cases. @caridy is working on improving the date formats—have a little patience (or feel free to contribute :wink:).

[2015-07-16 20:45] mesrob-axs commented on #75
Following issue on Safari.
`Intl.DateTimeFormat('en', {month: 'long'}).format(new Date()); //"Jul"`

[2015-07-16 20:59] caridy commented on #75
@mesrob-axs yes, https://github.com/andyearnshaw/Intl.js/issues/125 and https://github.com/andyearnshaw/Intl.js/issues/126

[2015-07-24 06:41] saran110313 commented on #20
features.js compatibility browser support in whiteboard on node.js

[2015-07-24 14:30] erg0dic opened #128 "Support "2-digit" month format"
In Chrome 43.0.2357.132 I see:
[code]

In node v0.10.38 with latest Intl in npm I see:

[code]

[2015-07-27 00:32] iegik opened #129 "dateTimeFormat.resolved.pattern needed"
Sometimes need to get a date pattern for `input[type=date]` fields for example. Google have following solution:
[code]

[2015-07-27 01:25] caridy commented on #129
Why will you ever need access to that? Isn't the default date type matches the user's system configuration, or the page's definition? Just curious about it.

For that I remember, that is not part of the Ecma 402. We can make a case to expose those as part of the low level api, but it will take time.

[2015-07-27 20:58] iegik commented on #129
Yes, it matches. This is the problem. `<input type="date">` will give You short format, but sometimes in design or other purposes, You want show to the end user long date or custom format.

[2015-07-28 17:08] caridy commented on #129
Ok, fair enough. Let's start the discussion about adding this feature to the specification, and see how it goes.

[2015-07-28 17:21] caridy commented on #129
I have open an issue to discuss this new feature as part of the ECMA 402 specification: https://github.com/tc39/ecma402/issues/21

I will keep this issue open until we get to a resolution.

[2015-07-28 22:21] iegik commented on #129
thanks

[2015-08-03 09:16] efkan opened #131 "`Intl` object can not be created using require('Intl')"
I've added `require('intl');` code to my app. Then I checked `Intl` and `IntlPolyfill` functions using the `console.log()` command. I could see `IntlPolyfill` function. However there wasn't `Intl` function.
Then I became aware of that there is a null object named Intl (Intl={}) when the app starts.
Then I try to change the codes of index.js file to prevent this issue from `if (!global.Intl) { ` to

[2015-08-03 09:28] efkan commented on #131
This works https://github.com/andyearnshaw/Intl.js/issues/89

[2015-08-03 09:28] #131 closed

[2015-08-03 15:18] efkan commented on #79
I use version 1.0.0 .
if I modify the native Date object and get an output using `console.log()` like the following I encounter the same issue;

    Date.prototype.toLocaleDateString = require('intl').__localeSensitiveProtos.Date.toLocaleDateString;

    var  d=new Date()
    console.log(d.toLocaleDateString('tr'))

    // Expected output
    "03.08.2015"

    // Console output
    "3.08.2015"

[2015-08-14 13:59] ba55ie opened #132 "Restore UMD support"
Since the RC-1 release (ES6 modules refactor) the UMD support has been removed. As we mainly develop using AMD this feature is really missed.

[2015-08-21 15:49] oliviertassinari commented on #124
+1

[2015-09-03 00:37] lingyan opened #133 "Possible leaks by using RegExp.lastMatch"
`RegExp.lastMatch` is a static property on RegExp class.  So there is potential danger of picking up last match from another regexp replace outside of Intl.js.

I recently encountered this issue, where the lastMatch happened to have matched a huge string.  This causes `createRegExpRestore()` to [generate an invalid regular express](https://github.com/andyearnshaw/Intl.js/blob/41e1bb2aa40c713e5c393

[2015-09-03 02:09] caridy commented on #133
@lingyan send me the case, and I can try to fix it :)

[2015-09-03 02:40] lingyan commented on #133
@caridy sure.  I will send it to you as soon as I have it. thanks!

[2015-09-05 14:16] shouze commented on #109
Any news about this one guys?

[2015-09-07 02:37] caridy commented on #109
@shouze I haven't get a chance to work on this. I have some ideas, in case someone wants to try to bake in a solution. Feel free to reach out to me.

[2015-09-07 06:54] shouze commented on #109
@caridy can you expose your ideas? How can I (or my team) help you?

[2015-09-07 18:51] caridy commented on #109
check your gmail :)

[2015-09-12 01:05] caridy opened #134 "resolution on the usage of bidi for dates"
depends on https://github.com/tc39/ecma402/issues/28

[2015-09-13 11:52] JonyGreen3 commented on #64
you can try this free <a href="http://www.online-code.net/format-html-js-css.html">online js beautifier</a> to format the javsscript code.

[2015-09-16 14:07] learning opened #136 "Grammar error of Chinese datetime"
Grammar error of Chinese datetime

[code]

output: `10月月19日`
expect: `10月19日`

[http://codepen.io/anon/pen/WQrVYM](http://codepen.io/anon/pen/WQrVYM)

[2015-09-16 14:24] okuryu commented on #136
Yes, this is a known issue. See #69.

[2015-09-16 16:21] caridy commented on #136
closing in favor of #69

[2015-09-16 16:21] #136 closed

[2015-09-16 22:12] okuryu commented on #136
@caridy Could you reopen #69?

[2015-09-19 14:59] shouze commented on #109
@caridy sorry I've been very busy maybe this will be ok the coming week.

[2015-09-19 18:10] caridy commented on #109
yes, will be perfect since it is the TC39 week, which means I will be working on Intl stuff all week :)

[2015-09-25 09:49] donnrri opened #137 "Expected Identifier error in IE8"
Hello,

I am loading Intl.js conditionally when Intl is not supported . However when I test in IE8 I get a 'expected identifier' error .

The line it fails at appears to be:

val("/* WEBPACK VAR INJECTION */(function(global) {var m =__webpack_require__(474),\n   IntlPolyfill = m.default;\n\n// Expose`IntlPolyfill` as global to add locale data into runtime later on.\

Does any one have any advice o

[2015-09-27 16:37] donnrri commented on #118
Hi
 When I add the polyfill service script tag into my html file (  <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.en"></script>), as the first script tag, I open my project in IE8 and the following error occurs:
'Int is undefined'

 Im using React-Intl, and it cannot find window.intl I think ?

Any ideas on what I am doing incorrectly.. Thanks

[2015-09-27 17:26] caridy commented on #118
@donnrri are you using the polyfill service?

[2015-09-28 00:55] caridy commented on #137
You should probably look into using the polyfill service to avoid the hazard of using polyfills with webpack.

[2015-10-01 21:05] yloubry opened #139 "Japanese date format contains 月 (month) twice when using intl polyfill service"
I came across an issue today while using react-intl which relies on Intl.DateTimeFormat for date formatting.

Here are the scripts that are loaded:

https://cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.en,Intl.~locale.fr,Intl.~locale.ja,Intl.~locale.ru

<FormattedDate value={new Date()} day="numeric" month="long" year="numeric" />

The result in Safari (relying on polyfill)

<img width

[2015-10-01 21:32] okuryu commented on #139
Yes, it's a known issue. See #69.

[2015-10-07 22:38] olegshilov commented on #117
hi, i have the same issue.
![screen shot 2015-10-07 at 19 55 12](https://cloud.githubusercontent.com/assets/930121/10353125/90de5170-6d5c-11e5-80f6-8571bba9f539.png)

[2015-10-25 16:48] killercup opened #140 "Intl.js on Node 4.2"
On one machine, I've recently updated from node 0.10 to node 4.2.1. Now, calling `toLocaleString` does not use the correct locale anymore. Is this a known issue with a newer node version?

You can find a demo of the issue here: https://gist.github.com/killercup/9880e1af193311cb4734

[2015-10-26 14:10] caridy commented on #140
node 4 support Intl, which means the polyfill will opt-out automatically. The catch is that it comes with english locale only, and you need to setup node to enable the right locales for your app. Here is the doc: https://github.com/nodejs/node/wiki/Intl

[2015-10-26 14:10] #140 closed

[2015-10-26 14:13] killercup commented on #140
So, that means I'll have to compile node myself instead of using the version apt/brew contains.

Intl.js' Readme currently says:

You might want to update that :smile:

[2015-10-26 14:23] caridy commented on #140
Anything related to Intl in node should be discussed here: https://github.com/nodejs/Intl/issues, I don't think you need to compile node, in most cases it is just a configuration option, plus we are working on using `npm install <something>` to enable other locales.

As for the readme, that is correct, node 0.12 also supports Intl, but that one will require you to compile node with extra options.

[2015-10-26 21:01] chilipote commented on #124
Some new about that ?

[2015-11-05 14:09] kennethaa commented on #19
This will be very useful. I'm using this polyfill for node, and I want to generate a time with timezone specific settings from uts.

@longlho, plans for implementing timezone anytime soon?

[2015-11-05 15:06] caridy commented on #19
I'm still looking for a volunteer :)

[2015-11-05 16:03] longlho commented on #19
I can *try* to take a look :) The core of it is the IANA tz parser which is hairy, and then mapping to this library itself.

[2015-11-05 21:15] mj1856 commented on #19
Yes, parsing is tricky, and data maintenance is a pain.

Perhaps consider a plugin model.  Expose some API in Intl.js that can be passed a function for time zone conversions.  Then give example(s) of plugging in to existing libraries (like moment-timezone).

Doing it all yourself is possible, but may prove to be more hassle than its worth.

[2015-11-05 21:16] mj1856 commented on #19
Also, note that ECMA-402/2.0 makes a lot of the time zone stuff required instead of optional.

[2015-11-05 22:34] longlho commented on #19
yeah agree w/ @mj1856

[2015-11-16 11:44] MikaFima commented on #109
Hi, I'm experiencing same behavior on both `hour: 'numeric'` and `hour: '2-digit'` formats.
(Currently using v1.0.1)

[2015-11-18 12:02] headcr4sh commented on #117
Any chance that this issue is going to be fixed soon(ish)?
From what I can see, there are a bunch of issues that are closely related to the cause of this issue...
... anything that can be done to help solve the problems?

[2015-12-05 19:43] #137 closed

[2015-12-31 16:54] rkoberg commented on #109
Me too: Using:
[code]
I am getting a warning in react saying the server is rendering the formatted date differently than what is rendered on the client. I am running the server and client on the same machine (currently). How can I ensure the date is rendered the same?
[code]

[2016-01-04 20:06] caridy commented on #109
@rkoberg this is a big problem when it comes to isomorphic apps, if the env diverge, the rehydration checks might fail.

In this particular case, you can probably use this branch, https://github.com/andyearnshaw/Intl.js/tree/cldr-refactor, and let us know if that helps. I plan to release that in a couple of weeks.

As for the observable differences that might occur between the server and client wi

[2016-01-26 12:06] Ianfeather commented on #107
I still see this issue across browsers when trying to display just the month.

[code]

[code]

Is there a way to get around this? I'm using 1.0.1.

[2016-01-26 17:04] caridy commented on #107
you can check this branch https://github.com/andyearnshaw/Intl.js/pull/146, I will try to land it as 1.0.2 soon :)

[2016-01-27 16:37] Ianfeather commented on #107
Thanks, I'll try it out!

[2016-01-27 18:03] caridy commented on #107
please, let us know if that works for you.

[2016-01-29 16:10] Ianfeather commented on #107
Could you give me any tips on how to test this out?

Installing via npm (pointing to the branch) doesn't give me any way to build it (that I see). Cloning the repo and then building it with grunt and copying it across gives me errors that imply some formats are missing:

[code]

fixing that one error ^^ leads to other similar ones.

What other steps do I need to do? Happy to help if I can get star

[2016-02-02 18:12] deddu commented on #69
Any update on this issue? Anything I can do to help?

[2016-02-02 19:58] caridy commented on #69
@deddu can you try this branch: https://github.com/andyearnshaw/Intl.js/pull/146

[2016-02-02 20:20] deddu commented on #69
@caridy sure thing.
I checked out the branch and started the build. The build succeeded but I'm having the following issue when starting my server:
[code]
It seems there's some dep that might be missing or not updated in the package.json.
Thoughs?

[2016-02-04 13:26] wzup opened #147 "No currency names in locale-data files"
Here are two examples, the first correct one is from Chrome `48.0.2564.97 m` and the second incorrect is from this polyfill.

currency: `IDR`,
locales: `ru` and `en`.

Browser:
[code]

Intl.js:
[code]

[2016-02-04 16:46] caridy commented on #147
@wzup we intentionally only support `currencyDisplay: 'symbol'` due to the amount of data that needs to be fetched (locale data) to support `"name"` and `"code"`, it is a compromise. On top of that, we are only picking up the symbols that are different from the `currency` identifier, you can see what we fetch here: https://github.com/andyearnshaw/Intl.js/blob/master/locale-data/json/en.json#L2176-

[2016-02-08 21:27] jpierson commented on #19
I noticed and subscribed to this issue after posting a [related question on StackOverflow](http://stackoverflow.com/questions/35279594/how-can-i-output-long-datetime-format-which-includes-timzone-with-moment-timezon). In my case I assumed that I would have to make use of a library like moment-timezone because I could find no mention of timezone support in the FormatJS or react-intl documentation.

[2016-02-08 22:19] caridy commented on #19
@jpierson that's correct. All browsers, except safari (which is under dev), have support for timezone. The polyfill doesn't as today! We need a brave sold to help with that. All the data is in CLDR, and I can help with the extraction process, and provision of the DATA, which is probably the most convoluted part, the rest should be easy ;)

[2016-02-08 22:32] mj1856 commented on #19
Actually, most browsers don't have this yet.  See http://kangax.github.io/compat-table/esintl/ (under "DateTimeFormat" - "resolvedOptions().timeZone defaults to the host environment"

[2016-02-09 00:02] caridy commented on #19
@zbraniecki do you know about this issue in FF?

@mj1856 thanks for pointing that out, I will follow up with your co-worker @bterlson as well to see when are they planning to fix that :)

[2016-02-11 16:58] caridy commented on #128
Fixed by PR #146, shipped in intl@1.1.0

[2016-02-11 16:58] #128 closed

[2016-02-11 16:58] caridy commented on #125
Fixed by PR #146, shipped in intl@1.1.0

[2016-02-11 16:58] #125 closed

[2016-02-11 16:59] caridy commented on #117
Fixed by PR #146, shipped in intl@1.1.0

[2016-02-11 16:59] #117 closed

[2016-02-11 17:00] caridy commented on #109
Fixed by PR #146, shipped in intl@1.1.0

[2016-02-11 17:00] #109 closed

[2016-02-11 17:03] caridy commented on #69
PR #146 fixes part of the problem, but not all. Can you try again with intl@1.1.0?

[2016-02-11 17:05] caridy commented on #83
Webpack and Browserify are now documented in the README.md.

[2016-02-11 17:05] #83 closed

[2016-02-11 17:08] caridy commented on #116
@ollym we are working on the specification to provide access to existing abstract operations that will allow you to normalize a locale, more details here: https://github.com/tc39/ecma402/issues/46

I will keep this open until that spec lands, and we can provide a method in Intl.js polyfill.

[2016-02-11 17:24] caridy commented on #124
with the v1.1.0 release, we are down to 60%, big improvements. Now I'm seeing `3505 from 5831 failed` in FF and Chrome.

[2016-02-11 17:53] caridy commented on #126
I will be happy to take this, but we need to run some tests to see how much data are we talking about here. As for the 402 spec, I think we are covered by https://tc39.github.io/ecma402/#sec-formatdatetime 12.1.6.13.a.ix, specifically, this sentence:

[code]

It doesn't say anything about quarters or weekdays. Do you think we should include that in the specification? /cc @srl295 @JCEmmons

[2016-02-11 19:16] caridy opened #148 "Update FT Polyfill service to use Intl.js 1.1.0"
we haven't update the polyfill service in a while.

[2016-02-11 19:16] caridy commented on #148
https://github.com/Financial-Times/polyfill-service/pull/607

[2016-02-11 19:19] caridy commented on #89
I don't have time to work on this these days, we need a brave soul to take it.

[2016-02-12 07:58] johannestroeger commented on #89
got a hint where to start - or even your concerns and plans how to implement that feature?

[2016-02-12 10:50] headcr4sh commented on #117
@caridy  Great news. Thanks a lot! :+1:

[2016-02-12 16:46] caridy commented on #89
@johannestroeger we will need the input from @srl295 on this. Node 0.12 is definitely not the focus anymore. Ideally, we should have a quick and easy way to detect what are the locales supported by the node runtime without having to attempt to create instance and test for the respective `resolvedOptions` (@srl295 can help on this). Then we should provide an extra method, or maybe a extra module, t

[2016-02-13 14:09] okuryu commented on #69
I've tried intl@1.1.0 with Node.js v0.10.42, it seems not to fixed.

[code]

On Node.js v0.12+ (includes v4, v5), I see weird results with intl@1.0.0 and intl@1.1.0 as follows. I'm not sure it's a bug on Intl.js or Node.js..

[code]

[2016-02-13 15:06] caridy commented on #69
@okuryu thanks. I was suspecting that. As for the issue with node, it is just like your node is using the Intl from v8 but with english local only.

[2016-02-16 15:24] caridy commented on #133
@lingyan can we close this one?

[2016-02-29 05:42] caridy commented on #132
Now that we are using rollup, UMD support was restored. Should be ready in the next release.

[2016-02-29 05:45] caridy commented on #41
it was already documented in readme.

[2016-02-29 05:45] #41 closed

[2016-02-29 05:48] caridy commented on #37
Ok, I finally get a chance to revamp the package structure, the new structure is composed of:

[code]

which is very granular and matches the section number from the spec.

this is the first step to upgrade the package to match 3rd edition + all new features.

[2016-02-29 05:48] #37 closed

[2016-03-01 20:03] ericf opened #152 "1.1.0 has issues with Intl.DateTimeFormat"
I noticed that 1.1.0 isn't properly formatting times, when the minutes are less than 10 the leading `0` is missing; e.g.,

[code]

[2016-03-01 21:07] caridy commented on #152
Yeah, I figure this was going to be a problem. 1.1.0 fixes a bunch of issues when the options are overruling the best fit options, but that introduces this problem. The resolution is to follow CLDR rules for the closest distance, in which case, the fact that for certain locales, the options from the example above will produce pattern: `Hm {am}`, where `numeric` hours is not at closest distance to

[2016-03-01 21:15] ericf commented on #152
I know this is tricky and ambiguous as to what browsers do when handling the formatting options — it's clear they are simply calling into ICU.

The reason I'm setting `hour` and `minute` to `"numeric"` is that it's more broad than `"2-digit"`, which allows the impl to choose the best fit for the locale; e.g., what should this render at 2pm: `"en-US"` with `hour: "2-digit", minute: "2-digit", hour1

[2016-03-01 22:48] caridy commented on #152
@ericf that's correct! the error here is that Intl.js was implementing an strict `BasicFormatMatcher()`, while in 1.1 I have relaxed that a little bit, and in the upcoming release, I will actually make that `BestFitMatcher()` so we have the freedom to do what we please to match existing implementations. All browsers are implementing `BestFitMatcher()` today. Once I do that, I can add the pieces to

[2016-03-01 22:48] caridy commented on #152
btw, this is related to this https://github.com/tc39/ecma402/issues/58

[2016-03-01 23:58] lingyan commented on #133
@caridy Ah. sorry. I will close it for now, until I get time to create the test case.

[2016-03-01 23:58] #133 closed

[2016-03-04 11:54] nodkz commented on #126
I am using `react-intl@2.0.0-beta` for client and server. Right now server-rendering (with Intl polyfill) differs from browser (build-in Intl).

<img width="559" alt="screen shot 2016-03-04 at 17 41 15" src="https://cloud.githubusercontent.com/assets/1946920/13526176/66d75054-e230-11e5-80d6-b5bb591f29fb.png">

@ericf I use something like this
[code]

So I think for isomorphic JS applications it is

[2016-03-10 02:45] ngduc commented on #69
+1 facing the same issue with Japanese: day="numeric" month="short" year="numeric"
it returns 2 '月' characters like: 2016年3月月9日
intl version: 1.1.0
Is it fixed yet? Thanks.

[2016-03-10 12:50] zivl opened #154 "*.js.map files are not packaged into NPM"
Hi,

I'm using `intl@1.1.0` and I get the following warning when I load the files (I'm using `webpack`):
[code]

After a few checks, I saw that you do not include the `sourceMaps` files in the package.
You should either delete the `sourceMap` reference from the `.js` files or include them in the `npm` package.

Also, I get the same warnings for other `intl` based plug-ins such as `intl-messageform

[2016-03-10 15:25] caridy commented on #69
@ngduc we plan to fix that very soon, as part of the refactor process that we have been carry on in master for the last 2 weeks. ETA EOM.

[2016-03-10 17:22] caridy commented on #154
/cc @ericf

[2016-03-14 22:37] miracle2k opened #157 "Currency IRR minor digits incorrect"
Intl.js wants to format the Iranian Rial with two minor digits. It seems that is the information that ISO 4217 contains. I'm in Iran right now, and I don't believe this makes any sense. There shouldn't be any decimal digits on IRR. For what it's worth, the CLDR agrees with me.

[2016-03-15 13:50] caridy commented on #157
@miracle2k can you provide more details? specifically, the exact configuration you're using, the input and the output from the polyfill, and the output from chrome/ff and co.

[2016-03-15 19:16] miracle2k commented on #157
In Chrome:

   new Intl.NumberFormat('en', {currency: 'IRR', style: 'currency'}).format(10000)
   "IRR10,000"

Intl.js:
    "IRR10,000.00"

[2016-03-15 19:28] caridy commented on #157
Firefox:

[code]

[2016-03-15 19:30] caridy commented on #157
certainly we don't have such information when rendering a number value for `en` locale. Can you link to the CLDR details?

/cc @srl295

[2016-03-15 19:46] srl295 commented on #157
@caridy locale doesn't determine that aspect. The data should be looked up according to the currency code, irrespective of language. [CLDR data for IRR](http://www.unicode.org/cldr/charts/dev/supplemental/detailed_territory_currency_information.html#IRR) = 0 decimal digits

[2016-03-16 02:15] caridy commented on #157
Perfect, I will get this fix for next release.

[2016-03-16 15:17] ba55ie commented on #132
OK, thanks! :smiley:

[2016-03-17 04:52] #132 closed

[2016-03-24 08:49] GlebDolzhikov commented on #41
Sorry for dumb question, but i can still understand do i need to include Intl.js or https://cdn.polyfill.io/v2/polyfill.min.js it will be enough? I asked about browser implementation

[2016-03-24 14:18] caridy commented on #41
Yes, you have to include `https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en`, or the corresponding locale that your app requires. Otherwise your app will not work on safari and other old browsers.

[2016-03-25 08:44] GlebDolzhikov commented on #41
But https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en isn't update my ancient ES methods like Date.prototype.toLocaleString() so this locales data stay unusable.

[2016-03-25 14:22] caridy commented on #41
Not true. If the polyfill is applied (it Intl is not implemented by the browser), then it calls `IntlPolyfill.__applyLocaleSensitivePrototypes()`, which, by spec, replaces the number and data `toLocaleString()` functions with the localized version of them.

[2016-03-25 15:49] GlebDolzhikov commented on #41
Any way this way isn't work in my environment (on TV) i try to test it in old opera and i get an error like
Object.defineProperty: first argument not an Object

I use moment JS but it's my example anyway:

`<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
<script>
    var date = new Date();
    var options = { weekday: 'long', year: 'numeric', month: 'lon

[2016-03-25 16:01] caridy commented on #41
Hmm, what version of opera? In theory, the polyfill works in ES3-compatible browsers, but we could have introduced a bug or something in recent versions.

[2016-04-01 20:24] Strate opened #160 "DateTimeFormatter: access to calculated pattern"
Hi all!
How about to expose access to calculated pattern?
In fact, at least google chrome browser do that in `resolve.pattern` options.

Or, alternativelly, could you move your implementation of `best-fit` to separate module to use it outside of polyfill?

[2016-04-02 05:05] unboundmusic opened #161 "Not working with certain iOS user-agent"
Reproduce:

Set Safari user agent to:

[code]

And the polyfill does not load correctly.

[2016-04-03 13:42] XAMeLi commented on #69
+1 facing the issue with Chinese (Simplified). For example: ‎2016‎年‎3月‎月‎29‎日
This is when using v1.1.0.
Any update on the ETA?

[2016-04-05 16:39] caridy commented on #161
@unboundmusic we need more information here. how are you loading the polyfill, including the version? How are you testing that the polyfill is not loaded? Repro case maybe?

[2016-04-05 16:43] caridy commented on #160
@Strate about exposing the pattern, this is something we have been thinking about (more info here: https://github.com/tc39/ecma402/issues/21), but that discussion doesn't belong to the polyfill itself, but the 402 standard, the polyfill just implement what the standard spec is saying :)

As for the exposing best-fit, that's implementation dependent, I doubt that the expect will expose that in any

[2016-04-05 16:43] #160 closed

[2016-04-08 23:00] shaosh commented on #69
I see the same issue with Simplified Chinese: day="numeric" month="long" year="numeric"
It returns ‎2016‎年‎4月‎月‎8‎日.
I am using v1.1.0. This issue only happens to IE and Safari.

[2016-04-09 13:10] redbugz commented on #140
I'm having a similar issue, and I don't understand the response. The gist shows that that polyfill would be active because it is using a non-English locale.

Can you help me understand why this is? It's just doing the language polyfills, not the entire Intl object. The README doesn't really make it clear that additional steps are necessary for this to work.

Using the same code from the gist in my

[2016-04-09 17:53] twalker commented on #140
I'm also not seeing localized output form the Date/Number prototypes (`toLocaleString`) when applying the polyfill.  An unpleasant workaround, seems to be to polyfill the prototypes manually by calling `IntlPolyfill.__applyLocaleSensitivePrototypes();`

As illustrated here:
https://gist.github.com/twalker/d33941123b89fe28c059931679994673

It seems like a bug in Node.js. If `Intl` is implemented, I

[2016-04-11 14:30] caridy commented on #140
that gist is not polyfilling Data/Number in node because of line 4 (https://gist.github.com/twalker/d33941123b89fe28c059931679994673#file-intl-node-protoype-example-js-L4), that condition will be false since Intl is in fact available. You can relax that condition to not only check if Intl is available or not, but also testing if the default Intl supports all locales that your app should support, a

[2016-04-12 11:48] redbugz commented on #140
I'm talking about the original gist at the top of this issue, which follows the guidelines of the README and loads the polyfills for non-English locales.
The implication of the response to killercup above is that for Node 4+ we should compile our own Node and not use the polyfills, but the README suggests you can use the polyfills for missing locale data, but it doesn't work correctly.
I deploy my

[2016-04-12 22:29] danilobuerger commented on #154
+1

[2016-04-13 18:27] rob2d opened #163 "<DatePicker> disableYearSelection property does not work"
The disableYearSelection property on DatePicker isn't working properly. This can be seen in an example on all MUI Documentation itself (all the way upto the current beta version)

[2016-04-13 18:28] #163 closed

[2016-04-21 02:51] kinglywork opened #164 "problem of date format in ja-JP"
**Code:**
[code]

**Expect:**
平成28年4月21日
**But:**
12016年4月月21日

**Version:**
1.1.0

**PS.**
this works fine
`DateTimeFormat = global.Intl.DateTimeFormat;`

[2016-04-22 14:03] okuryu commented on #164
This might be related with #69.

[2016-04-22 14:08] caridy commented on #164
yeah, I have struggled with this for a long time, need time to regroup on those issues.

[2016-04-25 13:59] devang-kredx opened #165 "Number formatting for Indian numbers"
India and a few other countries have number like ##,##,##0.### (thousands/lakhs/crores). However, using locale as "en-IN" still gives the grouping of digits as ###,###,##0.###.
This issue was references and solves in https://github.com/andyearnshaw/Intl.js/issues/51 but its sill not working for me. I am using `react-intl`.

[2016-04-25 14:31] caridy commented on #165
when I tried this in a browser (chrome), this is what I see:

[code]

while inspecting the resolved options:

[code]

`en-IN` is not supported by chrome.

[2016-04-25 21:40] watilde commented on #164
This issue should be separated as a year part for an era and a month part for the known issue.

In the era part, the point in code seems `TODO` and I tried to add a case for it, eventually it worked: https://github.com/andyearnshaw/Intl.js/pull/166

[2016-04-26 21:58] ericf commented on #152
@caridy and I discussed this at length and figure out the issue which is was how the `options` passed to `Intl.DateTimeFormat` are used to generated the formatted string produced by `format()`. What we came to is the process should work like this:

`options` → skeleton → format pattern

The user-specified `options` passed to `Intl.DateTimeFormat` are used to _select_ a format pattern based on the

[2016-04-30 18:20] watilde commented on #69
I could see this issue is fixed with the latest commit, but the last part was displayed different word. I think we should create a new issue and try to fix it.

[code]

Well, probably the build commit fixes this issue: https://github.com/andyearnshaw/Intl.js/commit/ec3d98f1c3477a5058fc23dff37a9e09df1c3450

[2016-05-01 14:22] okuryu commented on #69
Ha! This issue exactly seems to be fixed in the `master`. I've verified it works as expected on Node.js v0.10, v0.12, v4, and v6.

[code]

[2016-05-01 16:34] caridy commented on #69
:) took some time, but it is now fixed. I plan to push the new version to npm on thru.

[2016-05-03 10:23] iilei opened #168 "NumberFormat should use commercial roundoff"
As `0.5` results in  `1` using the default `Math.round`, I would expect `0.015` to be turned into `0.02`. The native implementation in Chrome is doing exactly that.

However, the polyfill rounds it to `0.01`:

[code]

[2016-05-04 11:27] wub commented on #118
@caridy I get the same error as @donnrri, even when using the polyfill service (in UC Browser)

[2016-05-06 23:23] #164 closed

[2016-05-12 02:14] jpresley23 commented on #152
Is there a workaround for this? I'm running an issue where we use react-intl but I need Intl.js polyfill for PhantomJS for our tests. If I use Intl.js version 1.1.0, the leading zero in the minutes is dropped off. If I use 1.0.1, the leading 0 for "00:00" is dropped (it's rendered as "0:00").

[2016-05-12 04:41] caridy commented on #152
I'm planning to release 1.2 tomorrow :)

[2016-05-12 14:54] loris opened #170 "Not working on some SamsungBrowser devices"
As reported over at the [FT polyfill repo](https://github.com/Financial-Times/polyfill-service/pull/671#issuecomment-218724622), I got React Intl errors (`[React Intl] The `Intl` APIs must be available in the runtime, and do not appear to be built-in. An `Intl` polyfill should be loaded.`) reported for all visitors using devices where the UA contains `SamsungBrowser`.
At first, I thought it was a

[2016-05-12 15:08] caridy commented on #170
should be fixed with today's release @loris, will let you know.

[2016-05-12 17:12] caridy opened #171 "Release 1.2.0"
* [x] npm publish (https://www.npmjs.com/package/intl)
 * [x] PR on FT polyfill service (https://github.com/Financial-Times/polyfill-service/pull/699)
 * [x] release notes (https://github.com/andyearnshaw/Intl.js/releases/tag/v1.2.1)
 * [x] bower update
 * [x] tag (v1.2.1)

[2016-05-12 17:13] caridy commented on #170
fixed by https://github.com/andyearnshaw/Intl.js/issues/171

[2016-05-12 17:15] caridy commented on #161
dupe of https://github.com/andyearnshaw/Intl.js/issues/170

[2016-05-12 17:15] #161 closed

[2016-05-12 17:16] caridy commented on #152
fixed by https://github.com/andyearnshaw/Intl.js/issues/171

[2016-05-12 17:17] caridy commented on #148
this was done a while ago.

[2016-05-12 17:17] #148 closed

[2016-05-12 17:21] caridy commented on #129
Closing this since it depends on ecma402.

[2016-05-12 17:21] #129 closed

[2016-05-12 17:28] caridy commented on #71
This might be related to https://github.com/andyearnshaw/Intl.js/pull/169

[2016-05-12 17:28] caridy commented on #69
fixed by https://github.com/andyearnshaw/Intl.js/issues/171

[2016-05-12 17:42] caridy commented on #124
with the v1.2.0 release, we are down to 0%, impressive. Now I'm seeing 0 from 5831 failed in FF and Chrome.

[2016-05-12 17:42] caridy commented on #124
fixed by https://github.com/andyearnshaw/Intl.js/issues/171

[2016-05-12 17:44] caridy commented on #119
This is now taken into consideration for bestFit algo in https://github.com/andyearnshaw/Intl.js/issues/171

[2016-05-12 17:44] ericf opened #172 "1.2.0 has a bug when no value is passed to `format()`"
[code]

__Expected:__ `"NaN"`

[2016-05-12 17:46] caridy commented on #154
fixed by https://github.com/andyearnshaw/Intl.js/issues/171

[2016-05-12 17:59] jpresley23 opened #173 "Formatting midnight for en-GB"
After updating to version 1.20, I still get the following error when running tests with PhantomJS

        expected '0:00' to equal '00:00'

[2016-05-12 18:26] ollym commented on #116
great, thanks!

[2016-05-12 18:27] vectart commented on #124
Absolutely impressive! Thanks, everyone!

[2016-05-12 20:56] #172 closed

[2016-05-12 20:57] caridy commented on #172
I will push 1.2.1 soon @ericf

[2016-05-12 20:57] caridy commented on #173
@jpresley23 can you provide more details? maybe the actual code that is producing the wrong value.

[2016-05-12 21:01] caridy commented on #173
Also, is this a new issue? or an existing issue?

[2016-05-12 21:10] shaosh commented on #69
@caridy Which version contains the #171 fix?

[2016-05-12 21:55] yoni-tock commented on #171
Are y'all already aware that this broke in Safari?

<img width="342" alt="screen shot 2016-05-12 at 4 54 23 pm" src="https://cloud.githubusercontent.com/assets/11616747/15231681/36836394-1862-11e6-83ad-87f5953ada24.png">

Everywhere we have intl wired in has the text looking like this.

[2016-05-12 21:57] yoni-tock commented on #171
Stoked about the changes! Highlights why we need to npm-shrinkwrap our dependencies though

[2016-05-12 22:03] jpresley23 commented on #173
It's an issue that existed prior to 1.2, but it was not fixed by 1.2. The code for the test is below. We're using karma. Just as an fyi, I'm updating our build to use PhantomJS so I'm not as up to date with the code. The test passes with karma with Chrome and Firefox launchers.
[code]

[2016-05-12 22:12] caridy commented on #171
@yoni-tock we rolled back the first attempt, folks from yahoo were expecting weird behaviors that we are fixing. Can you provide more details about that issue?

[2016-05-12 22:52] shaosh commented on #171
@caridy So this 1.2.0 is still not available right now, right?

[2016-05-12 23:19] caridy commented on #171
@shaosh correct, we are working on the release right now... once we close this, you should see it in NPM :)

[2016-05-12 23:26] shaosh commented on #171
@caridy sounds good. Appreciate your effort in fixing the issue!

[2016-05-13 00:02] caridy commented on #171
_update_: we are still seeing one issue when formatting pretty big numbers, e.g.:

[code]

we will postpone the release until tomorrow, latest code is in master, feel free to try it.

[2016-05-13 04:52] yoni-tock commented on #171
@caridy we're probably having the same thing as Yahoo. We're using `react-intl` version 2.1.2 and react 0.15. The code that's rendering all funny in that screenshot is the following

[code]

[2016-05-13 10:29] JamieMason commented on #152
Similar can be demonstrated here;

[code]
– https://tonicdev.com/5735aba53ed13c11004b5696/5735aba53ed13c11004b5697

should be `00:00` but is `00:0`

[2016-05-13 13:43] caridy commented on #171
@yoni-tock it is hard to tell from that code, can you be more specific? /cc @ericf

[2016-05-13 14:12] yoni-tock commented on #171
@caridy Would it be more helpful for me to mock that with actual values? Or do you need the locale (I suspect it's `en-us`)? Most of the debugging I did was to binary search our artifacts and determine that what was published as `intl: 1.2.0` was leading to weird rendering.

I'm happy to dive in more to try to help! Just let me know what you need

[2016-05-13 14:16] caridy commented on #171
@yoni-tock what I need is just the value of `locale`, `options` and `value` when rendering: `Intl.DateTimeFormat(locale, options).format(value)`

[2016-05-13 14:32] yoni-tock commented on #171
Okay so looking into the `react-intl` source, it looks like [here](https://github.com/yahoo/react-intl/blob/master/src/format.js#L68) is where it's calling into that function. I'm still digging in to see exactly what's happening there and how are values are being passed down

[2016-05-13 14:38] yoni-tock commented on #171
One example where we're getting bad behavior is:

`locale = "en-us"`
`options = {weekday: "long", year: "numeric", month: "numeric", day: "numeric"}`
`value  = (A Date object with string value Fri May 13 2016 00:00:00 GMT-0500 (CDT))`

[2016-05-13 14:42] yoni-tock commented on #171
However I can't reproduce the behavior having cloned directly from commit 7b61f24f1ee8d4df119ef1382f025ac39c4dfd99 and trying to build from source.

[2016-05-13 16:17] bonimba opened #175 "Intl not defined on LG G3 Stock Android browser"
Hi all,
I have seen that a similar issue has been fixed for Samsung Stock browsers recently.

I still having this issue on this user agent:
Mozilla/5.0 (Linux; U; Android 5.0; en-gb; LG-D855/V21a Build/LRX21R.A1446038723) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/34.0.1847.118 Mobile Safari/537.36.

I will try to test in on several other phones

[2016-05-13 16:30] caridy commented on #175
dupe of https://github.com/andyearnshaw/Intl.js/issues/170

[2016-05-13 16:30] #175 closed

[2016-05-13 17:17] caridy commented on #171
solution for big numbers is in https://github.com/andyearnshaw/Intl.js/commit/226f0b0038a6d1198ea5b16f85939babcc999461

[code]

[2016-05-13 18:18] caridy commented on #171
intl@1.2.1 is in NPM.

[2016-05-13 19:03] caridy commented on #171
![image](https://cloud.githubusercontent.com/assets/38969/15258855/d7333d1e-191b-11e6-9d1c-41748ddb5155.png)

[2016-05-13 19:06] yoni-tock commented on #171
Woo hoo!

[2016-05-13 19:22] caridy commented on #171
Release notes: https://github.com/andyearnshaw/Intl.js/releases/tag/v1.2.1

[2016-05-13 19:25] #171 closed

[2016-05-13 19:26] caridy commented on #170
https://github.com/andyearnshaw/Intl.js/releases/tag/v1.2.1

[2016-05-13 19:26] caridy commented on #116
https://github.com/andyearnshaw/Intl.js/releases/tag/v1.2.1

[2016-05-13 19:26] #116 closed

[2016-05-13 19:26] caridy commented on #69
https://github.com/andyearnshaw/Intl.js/releases/tag/v1.2.1

[2016-05-13 19:26] #69 closed

[2016-05-13 19:27] caridy commented on #154
https://github.com/andyearnshaw/Intl.js/releases/tag/v1.2.1

[2016-05-13 19:27] #154 closed

[2016-05-13 19:29] caridy commented on #124
@vectart something happen when attempting to test your test, I ended up copying that as part of the automation process, and I still see a bunch of differences, some of them, the polyfill is doing the right thing, while browsers take shortcut, but in general, we will have to continue this effort to close the gap. that 0% was very smelly :(, but let's keep targeting something like 20%.

[2016-05-14 03:36] okuryu commented on #139
I think this will be fixed in https://github.com/Financial-Times/polyfill-service/pull/698.

[2016-05-14 09:21] Nodman opened #176 "NumberFormat returns duplicated string."
Hi everyone!

Getting result string  doubling when using NumberFormat

    export const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'GBP',
        minimumFractionDigits: 2,
    });

using it like this:

    formatter.format(startPrice * period)

for example format(59.88) will produce '£59.88£59.88'
in FormatNumber src seem everything is fine, in debugg

[2016-05-14 15:42] arnekolja commented on #176
Same here when using Date.prototype.toLocaleTimeString and Date.prototype.toLocaleDateString

[2016-05-14 20:15] watilde commented on #176
I just tried to reproduce this with the latest version as `Intl.js@v1.2.1` and on Chrome, but it seems worked correctly. My test code displayed `£59.88`.
+ Test page(see `console.log`): http://watilde.github.io/Intl.js-issues-176/index.html
+ Test code: https://github.com/watilde/Intl.js-issues-176/blob/gh-pages/index.html

Could I ask you the version of `Intl.js` and browser name you used?

[2016-05-14 20:21] watilde commented on #168
This issue was fixed by https://github.com/andyearnshaw/Intl.js/pull/169 🎉
[code]

[2016-05-14 20:25] Nodman commented on #176
Thank you for response!

I am getting this issue with "intl": "^1.2.1" on Safari 9.1
Never tested in Chrome because it's own Intl implemented, so no problem with Chrome and FF.

[2016-05-14 21:01] lauterry commented on #176
Hello

I can also reproduce the issue with "intl": "^1.2.1" on Safari 9.1

I've tested with "intl": "^1.1.0" on Safari 9.1 and the issue disappear.

[2016-05-14 21:11] watilde commented on #176
You are right! I could reproduced this issue on Safari@9.1 and I think the reason why it happened is also correct. I could fix it by the change like you said, let me put it as a patch into a pull request.

[2016-05-14 21:21] lauterry commented on #176
@watilde 👍

[2016-05-14 21:24] iilei commented on #168
Using v1.2.1 I get `"0,020,02"` (or, for `en-GB`, `"0.020.02"`) 😞

My setup incorporates npm, webpack and babel. If needed I could provide you with a setup boiled down to the relevant packages but I assume this can be easily reproduced.

[2016-05-14 21:41] watilde commented on #168
Oh really, sorry let me check it again on Safari. I should use it at first instead of Chrome...

This issue seems same to https://github.com/andyearnshaw/Intl.js/issues/176. I just tried with https://github.com/andyearnshaw/Intl.js/pull/177 patch and it worked correctly.

[2016-05-14 22:18] Nodman commented on #176
@watilde Thank you!
I think thread can be closed now.

[2016-05-14 22:18] #176 closed

[2016-05-14 23:16] caridy commented on #176
fixed by https://github.com/andyearnshaw/Intl.js/pull/177

[2016-05-14 23:16] caridy commented on #168
fixed by https://github.com/andyearnshaw/Intl.js/pull/177

[2016-05-14 23:16] #168 closed

[2016-05-15 17:01] Delagen opened #178 "1.2.1 ugly Date format in Safari"
44:01 AM44:01 AM 66/66/20162016, 44:01 AM66/66/20162016, 44:01 AM
In angular 2. In 1.1.0 was missing leading zero
{{date|date:'shortTime'}}
{{date|date:'yMdjm'}}

angular/angular#3333

[2016-05-16 18:54] eschiebel commented on #178
I am seeing the same issue.
`new Intl.DateTimeFormat('en', {month:'numeric', day: 'numeric'}).format(new Date()) `
returns "55/161655/1616" (today is 5/16)

similar issues with formatting times.

[2016-05-16 18:59] eschiebel commented on #139
I am seeing the same behavior in 'en', but only in Safari, and it seems only when served from a linux server. dates and times format correctly when served from Windows.

[2016-05-16 21:59] caridy commented on #178
fixing this today.

[2016-05-16 22:48] #178 closed

[2016-05-17 01:26] watilde commented on #139
@eschiebel Hello. Thanks for reporting it. The issue will be fixed by https://github.com/andyearnshaw/Intl.js/pull/177.
I did test the following code with master branch I built in my local and it worked:

[code]

Related issue: https://github.com/andyearnshaw/Intl.js/issues/176

[2016-05-17 03:54] caridy commented on #139
fixed in intl@1.2.2

[2016-05-17 03:54] #139 closed

[2016-05-17 08:54] Arturszott opened #179 "Formatting month - value of long falling back to short"
Example failing test case:

[code]

`expected value January 2016 but the actual value is Jan 2016`

I've been digging it for a while and it looks like bestFormat is not the best :)

Cheers!

[2016-05-17 12:01] Delagen commented on #178
Again the same issue with missing leading zero on Safari
4:01 AM
6/6/2016, 4:01 AM

[2016-05-17 16:45] caridy commented on #179
@Arturszott bestFormat is not defined in the spec text, it is basically the implementation hook for browsers to do their own thing. we have introduced very recently, and the goal is to make the appropriate changes in that algo to match browsers. hopefully I will get people to help on that :)

In any case, I will take a look at this. At first glance, it seems that https://github.com/andyearnshaw/In

[2016-05-17 17:01] kwarr128 commented on #179
This also seems to be happening for weekday as well, it's always falling back to short in my tests

[2016-05-17 20:32] watilde commented on #179
@caridy Is the `yMMMM` pattern we should cover like the following?
[code]

At first, we can make algo of `BestFitFormatMatcher` the right pattern IMHO. Either way, it doesn't support yet, but this change could fix this issue: https://github.com/watilde/Intl.js/commit/045af6356391ac409cc9c609beafbadb20c903f9

[2016-05-19 10:43] MasDevProject opened #180 "Intl not defined in Samsung Default Browser"
Hi guys,
thanks for your great work.

In all my browser Intl.js works just great but I noticed that using the Samsung default Browser I get an error "Intl not defined".

This is the complete error: http://i.stack.imgur.com/rx2dW.png

Thanks a lot

[2016-05-19 14:04] caridy commented on #180
Dupe of https://github.com/andyearnshaw/Intl.js/issues/170

[2016-05-19 14:04] #180 closed

[2016-05-19 14:19] MasDevProject commented on #170
Is it available also on cdn?

[2016-05-19 15:11] caridy commented on #171
v1.2.2 patch resolved some issues.

[2016-05-19 15:13] caridy commented on #170
This repo only produces the npm version of the polyfill, there is another process to update the Financial Times Polyfill service to serve the latest version from npm, in this case, we are doing it here: https://github.com/Financial-Times/polyfill-service/pull/698

[2016-05-19 15:44] MasDevProject commented on #170
@caridy
Just installed Intl ( `npm install intl` `"name": "intl",  "version": "1.2.2",` ) and added it to my index ( `<script src="Intl.min.js"></script>` ) but I get the same error.

[2016-05-19 16:16] caridy commented on #170
@MasDevProject can you provide a very small repro case? what exactly is the error, and in which line? can you use `src="Intl.js"` instead, so you get the line number, and the error details. Unfortunately I don't have a Samsung device to test this.

[2016-05-19 16:21] MasDevProject commented on #170
I'm using it with angular2.
This is the stacktrace of the exception I got: http://i.stack.imgur.com/rx2dW.png

This is my index.html: https://gist.github.com/MasDevProject/0ecd89b111529d8e00e9a2625b97461b

[2016-05-19 21:47] caridy commented on #170
open the browser console and type:

[code]

and let me know if they are defined.

[2016-05-20 06:06] MasDevProject commented on #170
@caridy thanks for the instructions!
Using Chrome both variables are Defined,
using the Samsung browser window.Intl is UNdefined, window.IntlPolyfill is Defined.

Hope this helps

[2016-05-20 15:33] caridy commented on #170
If `window.IntlPolyfill` is set, then the following line https://github.com/andyearnshaw/Intl.js/blob/master/dist/Intl.js#L3810 is doing its job. The remaining question is to investigate why the block of code above that line (https://github.com/andyearnshaw/Intl.js/blob/master/dist/Intl.js#L3810) doesn't work:

[code]

Maybe that try/catch is swallowing the error. Alternative, we could force the d

[2016-05-20 15:48] MasDevProject commented on #170
Thanks @caridy for your work.
Just tried with
`if (typeof window.Intl !== 'undefined') {
        try {
            window.Intl = Intl$1;
            Intl$1.__applyLocaleSensitivePrototypes();
        } catch (e) {
            // can be read only property
        }
    }`

But the problem persists, I also put an alert into the catch but it's never called.
I also noticed that `if (typeof window.Intl

[2016-05-20 22:31] caridy commented on #170
oh wow! how is that this condition is incorrect! I will fix and release later today.

[2016-05-20 23:08] caridy commented on #170
Definitely an issue introduced by @watilde recently. Fixed by 86387c730e7129dfbf73dc08a5b0b393fc7ea784, and added some tests to prevent this from happening again 4d75e49f1caa16e01be28236ae2af391fd375028

[2016-05-20 23:11] caridy commented on #170
+ intl@1.2.3

@MasDevProject let me know if you have any issue with the new version.

[2016-05-21 07:49] MasDevProject commented on #170
@caridy
the 1.2.3 version does not work. This is the correct clausule:
`if (typeof Intl === 'undefined') {
        try {
            window.Intl = Intl$1;
            Intl$1.__applyLocaleSensitivePrototypes();
        } catch (e) {
            // can be read only property
        }
    }`

[2016-05-23 05:17] Delagen commented on #152
1.2.3 version still does not solve it ((

[2016-05-23 12:50] guilhermesimoes commented on #170
Yup, `1.2.3` is still not polyfilling the browser correctly.

[2016-05-23 17:31] ying22 commented on #170
I tested this in Safari too. It has to be:
`window.Intl = Intl$1;`

This does not work:
`Int = Intl$1;`

[2016-05-23 21:27] caridy commented on #170
Alright, I got a chance to debug this, and you're both right. The reason is this line: https://github.com/andyearnshaw/Intl.js/blob/master/dist/Intl.js#L5

by having 'use strict', that prevent us from defining and implicit global. this bug was introduced when we moved to modules, will release a patch later today.

[2016-05-26 07:00] caridy commented on #170
fixed by 54ef5de115db96482a20b3b218c8ced86c6c81a3

released as intl@1.2.4

[2016-05-26 07:00] #170 closed

[2016-05-31 03:05] triblondon opened #181 "Trailing comma in arrays and object literals"
There are many examples of arrays with trailing commas on the last item.  Since the rules for where trailing commas are allowed in modern browsers can create unintuitive code (eg `['a', 'b', , ]` creates an array with *one* undefined element at the end) and it's a syntax error in IE8, should these be removed?

I notice that the polyfill claims to have some compatibility with IE8, but can't see how

[2016-05-31 03:50] triblondon opened #182 "Compatibiity with defineProperty polyfills"
Consider updating https://github.com/andyearnshaw/Intl.js/blob/master/src/util.js#L17-L24 to test for accessor property support.  Your use of defineProperty does define accessors, but your compat test doesn't verify that that will work.  If Intl is loaded through the polyfill service, we polyfill defineProperty for you as a dependency, and our implementation throws in IE <=8 if you try to define a

[2016-05-31 14:36] mkohlmyr commented on #179
Using Intl.js `1.2.4` on NodeJS `v4.4.5`.
[code]
Some further examples
[code]

[2016-05-31 14:48] caridy commented on #179
yeah, single entry matches are not a thing in CLDR, it seems that browsers are doing their own thing when it comes to format one element, we will have to add that into data or a custom resolution for that in `BestFitFormatMatcher`, PR are welcome :)

[2016-05-31 14:50] caridy commented on #181
hmm, we probably lost some of that when transition to ES Standard Module syntax and transpilation with babel, I will investigate.

[2016-06-02 22:18] juandopazo commented on #179
This looks like a regression. It was working in version 1.1.0.

http://jsbin.com/rusesaweta/edit?html,js,output

[2016-06-03 04:39] caridy commented on #179
yeah, but it broke many other things from 1.0.0. I have discussed this extensibly with @ericf, and now we just need help to tune-in the `BestFitFormatMatcher` algo, which is implementation specific.

[2016-06-12 23:54] antoinerousseau commented on #179
using `formatMatcher: 'basic'` while waiting for a fix :)

[2016-06-13 08:47] watilde commented on #179
@caridy Can't we use the algorithm as written in the specification? I tried with the following commit and it worked for this issue case: https://github.com/andyearnshaw/Intl.js/commit/045af6356391ac409cc9c609beafbadb20c903f9

[2016-06-13 13:28] caridy commented on #179
@watilde the `BestFitFormatMatcher` is not specified in 402, it is implementation specific.

[2016-06-15 01:55] SamAmiri opened #185 "Browserify / Conditional Loading"
Hi Andy,

Thanks for the great polyfill, I am trying to conditionally load the polyfill in for Safari, but with the implementation that you provided `Browserify` does not support `require.ensure` that is only with Webpack.

How should this be loaded?

[2016-06-15 10:12] watilde commented on #165
I just tried the issue case and I could see `11,22,333.444` correctly. Is this issue still happening?
[code]

[2016-06-15 10:29] devang-kredx commented on #165
Did you try it in Chrome, this seems to be Chrome related issue which
doesn't support en-IN.

On Wed, Jun 15, 2016 at 3:42 PM Daijirō Wachi <notifications@github.com>
wrote:

[2016-06-15 11:20] watilde commented on #165
@devang-kredx Hello! I've tried on Chrome and Safari. Now I just tried `IntlPolyfill` and native `Intl` object as well on Chrome again. Either way it worked for me.
[code]
Browser versions:
+ Chrome: 51.0.2704.84 (64-bit)
+ Safari: 9.1 (11601.5.17.1)

[2016-06-15 11:29] devang-kredx commented on #165
Interesting. I am using it through react-intl and it's formatting incorrectly in that case. Closing the issue here and will try to debug react-intl.

[2016-06-15 11:29] #165 closed

[2016-06-15 17:47] caridy commented on #165
@devang-kredx make sure you're using the latest version, that might be it.

[2016-06-15 18:11] caridy commented on #185
@SamAmiri I'm not sure what else can you do with Browserify. But If you find out, let us know.

I normally suggest to avoid declaring an explicit dependency between a module and a polyfill, especially if you're using a bundler like browserify, and instead do your own thing to provision your runtime before evaluating your modules, or use the polyfill service from FT, which does that for you for fre

[2016-06-15 20:24] SamAmiri commented on #185
@caridy

Thanks for the prompt response, I am basically thinking of going with just importing the package

[2016-06-16 13:55] #185 closed

[2016-06-16 15:54] #181 closed

[2016-06-16 20:58] #182 closed

[2016-06-16 23:26] caridy opened #189 "IE8 compat"
In the past, this polyfill worked fine with IE8. Currently, we are getting two issues in IE reported by travis, as a result, we get tons of failures during the CI process. Here are two examples of the two different issues:

[code]

Those files are generated in `tests/test262/pages/intl402/`, example: `tests/test262/pages/intl402/NumberFormat/11.4_a.html`

More details about the failures here:
http

[2016-06-16 23:26] caridy commented on #189
If someone has as IE8 at hand, and can help with this, that will be great.

[2016-06-17 13:31] #152 closed

[2016-06-17 13:31] #179 closed

[2016-06-17 14:05] moll commented on #179
Yay. Does the merge above that closes this also cover the long weekday issues @mkohlmyr brought up?

[2016-06-17 15:07] caridy commented on #173
This was fixed by 88fe47849422ce711aba86173a57e19b0b304d82

[2016-06-17 15:07] #173 closed

[2016-06-17 15:12] caridy opened #190 "datetime format bestfit does not process a single configuration"
Because CLDR skeletons always contain more than one configuration, or a fixed configuration for single entries, we end up missing the opportunity to provide the best result in `BestFitFormatMatcher`.

[code]

More examples about these are here from @mkohlmyr:
* https://github.com/andyearnshaw/Intl.js/issues/179#issuecomment-222708076

/cc @juandopazo @watilde

[2016-06-17 15:12] caridy commented on #190
The solution is to add some hard-wire in `BestFitFormatMatcher` to account for this cases.

[2016-06-17 15:13] caridy commented on #179
@moll no, that's a different issue, I have opened a case for it https://github.com/andyearnshaw/Intl.js/issues/190. @watilde can you take a look?

[2016-06-17 15:14] Delagen opened #191 "Leading zeroes in Date format"
No leading zeroes for format string dd.MM.yyyy in safari in latest build.
#152

[2016-06-17 15:32] caridy commented on #191
@Delagen can you provide more details? Maybe an example?

[2016-06-17 16:19] Delagen commented on #191
Date 2016-06-07 output as 7.6.2016

[2016-06-17 18:57] caridy commented on #191
@Delagen this is not a bug, the following is the output using polyfill and chrome (it is the same output):

[code]

[2016-06-17 18:57] #191 closed

[2016-06-20 05:36] Delagen commented on #191
Thanks. Does not know about such difference in locales

[2016-06-20 15:26] watilde commented on #190
Hmmm yeah it can be a hard code point like you said..

[2016-06-20 17:12] juandopazo commented on #190
Yeah. I took a look at the code. The calendar data is there, it's just that the possible configurations that the polyfill generates don't include single options.

[2016-06-24 15:40] Sunyang730 commented on #123
Safari also throw an error

[2016-06-27 10:17] headcr4sh opened #192 "IntlPolyfill.__localeSensitiveProtos.Date.toLocaleString doesn't work as specified"
I have just tried v1.2.4 (latest) of the Intl polyfill.

According to #117 this issue should have been fixed by PR #146 .
Unfortunately, my latest tests indicate, that the opposite is still the case...

[code]

The result when executing the code abote is `Jan`. And that is clearly not the expected result when using the formatter `{ month: "long" }`.

I can confirm that the code above yields the co

[2016-06-29 15:21] alexnb opened #195 "Support "2-digit" month format"
Hello,

unfortunately I cannot confirm that Issue #128 is resolved. I use Intl.js-1.2.4 with phantomjs-2.1.1 and still, the "2-digit month" option produces single-digit month values. The following QUnit test fails (actual result is "6"):

 assert.equal(new Intl.DateTimeFormat('en', {
        month: '2-digit'
   }).format(Date.now()), "06");

Could you please help, I guess this feature is quite com

[2016-06-29 17:15] caridy commented on #190
@juandopazo yes, we can included that as part of the data as well, that's the other part of the story.

[2016-06-30 12:59] mtlewis opened #196 "createRegExpRestore throws an error when RegExp.lastMatch is long"
We're running into an issue with createRegExpRestore generating expressions that are over the size limit.  As createRegExpRestore is generating an expression based on RegExp.lastMatch, when the last matching string was extremely long, the expression generated was therefore too long and caused an error to be thrown.

We've been kicking this around here at work, and suspect that there may not be a p

[2016-07-01 03:51] caridy commented on #195
few folks have been looking to add support for a single token formats, If nobody gets a PR before next Thru., I will attempt to implement it.

[2016-07-01 15:57] caridy commented on #196
@mtlewis thanks for looking at this. I'm not sure what @andyearnshaw thinks about it, but I will try to explain my mental model:

1. compliance with 402 is important, especially because we run 262 tests to validate that compliance, but I'm open to have a loosely mode in which this is not enforced.
2. A loosely mode could very well be the default mode, and the strict mode can be optional.
3. if an

[2016-07-01 15:59] caridy commented on #195
dupe of https://github.com/andyearnshaw/Intl.js/issues/190

[2016-07-01 15:59] #195 closed

[2016-07-01 16:00] caridy commented on #192
dupe of https://github.com/andyearnshaw/Intl.js/issues/190

[2016-07-01 16:00] #192 closed

[2016-07-01 16:00] caridy commented on #189
ping! can someone help on this?

[2016-07-01 20:08] nosilleg commented on #196
@caridy Your preferred solution should work for us, since we don't use any packages (that we know of) that require non mutating RegExp properties.

However, it does seem counter intuitive that enabling compliance can result in less compliant behaviour with code erroring that doesn't error in native implementations.  One could also argue that debugging issues caused by compliance turned off (#197)

[2016-07-02 04:48] bensontrent opened #199 "Proposal to .npmignore anything that's not needed for production"
When using `npm install` with intl.js, I've found it requires 71 mb of disk space.  Can this be trimmed down for production?  I haven't researched the code yet, but it appears the `json` and `jsonp` folders are covered by complete.js?  Or if  `json` and `jsonp` are needed, is it possible to refactor duplicitous code? Could we lose the `src` and `lib` folders for npm installs? Could we direct npm t

[2016-07-02 10:10] headcr4sh commented on #192
@caridy Sorrt... didn't see the duplicate. My bad...

[2016-07-02 10:26] headcr4sh opened #200 "Unit test for Issue #152 seems broken"
The unit test (`tests/sanity.js`) for issue #152 seems broken.
At least on my machine (probably because I am NOT in `GMT-0500 (EST)` time zone!) it produces an unexpected result:

Unit test:
[code]

Result on my machine:

[code]

Since the Intl polyfill doesn't support the `timeZone` parameter in it's full glory, I assume it would make sense to change the test:

[code]

[2016-07-02 10:28] headcr4sh commented on #200
... forget it. Seems to be fixed with PR #194... mwaah... :-)

[2016-07-02 10:28] #200 closed

[2016-07-03 10:13] andyearnshaw commented on #196
I agree with @caridy that we shouldn't swallow the error.  Try/catch is a well-known deopt, for one, but there's also the possibility of swallowing a legitimate error that makes it difficult for users to track down problems.

I think we could probably fix the restore function to use smaller regexes, by using `.exec()`, modifying `.lastIndex` and using `[\s\S]{,x}`, where x is the length of the mat

[2016-07-05 09:52] andyearnshaw commented on #199
Those numbers _are_ amazing 😄.

Trimming down is tricky, as each of _Intl.complete.js_, _json_ and _jsonp_ offer an alternative option based on the polyfill consumer's preference. _Intl.complete.js_ is commonly only used in Node or packaged apps that run locally, whereas _json_ and _jsonp_ are lightweight alternatives for browser environments.

We could possibly ditch either _jsonp_ (~20M, whitesp

[2016-07-05 16:30] mtlewis commented on #196
@andyearnshaw @caridy thanks very much for your feedback and suggestions guys!  @nosilleg and I worked on this together today, and came up with #201.  The PR still contains the parameterisation of the cache/restore functionality, but it also implements Andy's suggestion to use lastIndex and length-based regexes to shorten the generated expression.  Keen to hear your thoughts!

[2016-07-06 02:25] caridy commented on #199
I will work on this on Thursday.

[2016-07-16 19:33] gabriel-miranda commented on #190
You can include the day and the month won't format either. Month can't use long for some reason. I'm trying to debug it.

[2016-07-17 14:14] caridy commented on #190
@gabriel-miranda yes, this is for any format that should use a single element in the formatter.

[2016-07-18 09:50] mtlewis commented on #196
@andyearnshaw @caridy #201 is ready to go from our perspective - anything else we can do to help expedite the merge of this fix?

[2016-07-18 14:14] caridy commented on #196
will do as soon as I get a chance this week.

[2016-07-21 09:14] nuruddeensalihu opened #202 "Intl polyfill not working on ipod device"
Hi,

I adopted this great lib for my app and was working fine all devices . However, we noticed ipod devices are not able to start our app despite having the latest version of ios . We then discovered that our intl was not recognised. Below is the polyfill we use

`<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Promise,Array.from,Array.prototype.find,Array.prototype.include

[2016-07-21 18:27] caridy commented on #202
What is the result of that url in that device? Most likely this will be a detection issue, in which case we will have to report the issue on the FT polyfill service repo.

[2016-07-21 21:45] #196 closed

[2016-07-21 21:45] #190 closed

[2016-07-21 21:47] caridy commented on #190
solve by 20f322dcb47624cec6ba72addcef107c2de94e71

please, verify if this solves all your problems ;)

[2016-07-21 23:25] caridy commented on #199
ok, finally I get a chance to look at this problem holistically, here are my thoughts:

* FT polyfill service relies on the npm pkg to build their own folder structure (they use `dist/` and `locale-data/jsonp`)
* People using browserify/webpack can choose individual locale data files (otherwise their bundle is unusable), and they do so from NPM :/, we can't really remove jsonp files from the pkg a

[2016-07-21 23:34] caridy opened #203 "[task] release 1.3.0"
Features and Fixes:

 * [ ] trim pkg size (issue #199)
 * [x] single configuration options (issue #195 )
 * [x] restoring regexp options (issue #196)
 * [x] improve bestFit to match browsers
 * [ ] restore IE8 support (issue #189)
 * [ ] clear up FT polyfill service update

[2016-07-21 23:40] iam-peekay opened #204 "ModuleBuildError: Module build failed: ReferenceError: Unknown plugin "transform-es2015-modules-commonjs" specified in "/home/company/app/node_modules/intl/.babelrc" at 0, attempted to resolve relative to "/home/company/app/node_modules/intl""
Hello. Lovely package so thank you for building it!

I'm having one issue: the build keeps failing because of unknown plugin. I can't seem to figure out what's going wrong. Any help would be appreciated.

Thank you.

[2016-07-22 01:24] nuruddeensalihu commented on #202
@caridy it failed on startup of the app. running `window.location.pathname` returns something like `/android_asset/www/index.html` and the hash is `#/`. So basically the app didn't start up yet.

[2016-07-22 02:45] gabriel-miranda commented on #190
@caridy Thanks for the tip I ended up parsing the relative date myself and using intl-relativeformat to support the languages. Maybe in the next months I will look up again for this. Ty anyway

[2016-07-22 04:45] caridy commented on #204
Hmm, this is weird. Make sure you have installed it with npm. That package does exist, and it is declared in package.json, here is the npm link to it https://www.npmjs.com/package/babel-plugin-transform-es2015-modules-commonjs.

Make sure you are running of master and a clean slate:

[code]

[2016-07-22 05:41] iam-peekay commented on #204
@caridy thank you. I didn't have it installed -- thought that the one that is automatically installed via babel's es2015 preset would suffice, but i guess not. I fixed the problem by installing it with npm and including it in my `.babelrc`

[2016-07-22 14:06] caridy commented on #202
@nuruddeensalihu we need more information here... we need to know what the polyfill service is returning for that user-agent.

[2016-07-22 14:07] #204 closed

[2016-07-25 03:57] nuruddeensalihu commented on #202
@caridy  it does not throw when registering. It does throw the error where the Intl is used. It throws unknown/defined on Intl services. It does not register for ipod devices.

[2016-07-25 16:00] caridy commented on #202
@nuruddeensalihu sure, but there are two options, either the polyfill service is assuming that the browser you're using already have Intl, and therefore it sends nothing, or it sends the polyfill code but the polyfill, for some weird condition decides to know patch the runtime... and in order for us to help you, we need to know what the polyfill service is sending down.

[2016-07-26 09:52] jonashartwig opened #205 "Collator missing"
Why is the collator implementation missing?

[2016-07-26 10:48] osela opened #206 "Set default locale in node"
It seems the default locale is set to be the first locale that's added using __addLocaleData, and there is no public API to change it.

When using the library in node environment, I get all the locales by default and have no control on the order by which they are added, so I end up with 'af' as the default locale.

Is there a way to set the default locale that I missed?

[2016-07-26 11:28] #205 closed

[2016-07-26 11:28] jonashartwig commented on #205
as stated in docs...

[2016-07-27 06:20] caridy commented on #206
@bumpy1 we have discussed this in the past, not in the context of the polyfill, but in the context of Intl in node in general, and we have no way around it, since each process will probably serve multiple requests, with different language and locale negotiation process, you will have to find a way to pass the locale to all Intl constructors, maybe using some sort of abstraction.

As for the polyfi

[2016-07-27 09:04] bumpy1 commented on #206
@caridy Thanks for your detailed response.

Setting `en` as the first locale to be registered is probably a good idea anyway. I'll try to do it and send a PR.

As for the problems with default locale in node - I understand the problem, but I still believe there is value in the ability to set the default locale manually. First, Intl may be used in contexts that are not part of the request process (

[2016-07-27 14:26] srl295 commented on #206
@bumpy1 we should probably discuss elsewhere (perhaps http://github.com/nodejs/Intl/issues ) but setting the default locale as a concept has a number of problems.

 It's common to cache the default-locale contents, and such caches would be invalidated by changing the locale ID. From an `Intl` perspective, the default locale isn't required to be expressed by a string id accessible to the user. For

[2016-07-31 11:14] chaintan17 commented on #189
I have a problem in Safari 8
It's not happen all the time. Just few refresh and below error shows up

 "Can't find variable: IntlPolyfill"

![image](https://cloud.githubusercontent.com/assets/2979072/17276170/9327e3d2-574a-11e6-875f-960e1e91f2d0.png)

[2016-07-31 17:23] caridy commented on #189
@chaintan17 certainly not related to this issue, which is about IE8. I wonder how are you loading the polyfill? could this be a race condition in the way you load it? Please, feel free to open a new issue.

[2016-08-01 03:03] chaintan17 commented on #189
Oh, it's racing condition, yes.
Thanks for your info @caridy

[2016-08-01 08:15] andyearnshaw commented on #189
I'll try and get some time to look into this soon.  In the past, I've used SauceLabs to manually run the test to figure out what's going on, so I'll maybe do the same.  I think we might have an IE 8 machine around work somewhere too so I can give that a try.

[2016-08-04 19:36] icambron opened #209 "Long eras show short eras"
I'm not sure this is not related to #190, but since the fix doesn't seem to address eras, my guess is not. It looks like there is [data](https://github.com/andyearnshaw/Intl.js/blob/master/locale-data/json/en.json#L796) for long era names, but they don't work:

[code]

Compare to Chrome (whose choices for this are strange, but the era part works):

[code]

[2016-08-05 00:08] caridy commented on #209
@icambron when using only `era: "long"`, it ended up using: https://github.com/andyearnshaw/Intl.js/blob/master/locale-data/json/en.json#L38

Era can't be produced alone by browsers today, the patch for single entries will not cover it. That being said, we should keep improving the best match. In this case, if all browsers behave the same, we can simply define that from short to long values on era

[2016-08-05 02:01] icambron commented on #209
To be clear, I'm OK not producing it alone. But I wasn't able to find any combination settings that gave me a long era. I suppose that's consistent with all of those formats you pointed to only using "G" and never "GGGG" (or whatever CLDR's code for long era is), but still surprising that there's a setting which can in no circumstances have an effect.

If I understand this correctly, it makes good

[2016-08-05 06:29] caridy commented on #209
@icambron yes, that is actually specified in CLDR here http://www.unicode.org/reports/tr35/tr35-dates.html#Matching_Skeletons, specifically, the definition of close distance between settings where the user-input config can force the pattern/skeleton to produce something more accurate. We haven't get to the point where this close distance is implemented, but I have put in place all the pieces to su

[2016-08-08 06:54] #202 closed

[2016-08-11 15:59] halt-hammerzeit opened #211 "Long weekday is output as a short one"
I'm using this library to format date on Node.js and it can't format weekdays and months as "long" in my configuration.

For example, a simple case:

[code]

Outputs: `Aug 11`

Even though there is the preferred format inside [`en.json`](https://github.com/andyearnshaw/Intl.js/blob/master/locale-data/json/en.json):

[code]

It finds the first one and stops?
Or why is it not choosing the right one?

[2016-08-11 17:15] caridy commented on #211
That is a good question, I will investigate :)

[2016-08-11 20:48] zbraniecki opened #215 "getCanonicalLocales fails at weird cases in test262"
test262 runs getCanonicalLocales on several weird cases, and Intl.js fails a few of them.

In particular, Intl.js does:
[code]

@caridy - can you look into this?
Spidermonkey implementation and seems to handle those cases according to test262 and ICU as well.

[2016-08-11 21:19] caridy commented on #215
I will, but if those can't be implemented, then they can be black listed.

[2016-08-12 15:05] #206 closed

[2016-08-22 10:49] dzonatan commented on #211
Same for me... :|
Reverting back to `v1.1.0` works as expected (shows `full` date).

[2016-08-22 10:51] halt-hammerzeit commented on #211
@dzonatan oh, really? I'll try to revert too then.

[2016-08-22 11:04] dzonatan commented on #211
At least for me works. But.. be aware of #154 :| It will spam your browsers console for missing maps.

Hopefully @caridy will take this soon..

[2016-08-23 20:35] lpproulx opened #218 "Requirejs and polyfill service"
Hi,

I'm trying to use the polyfill service with requireJS but i'm getting the error: 'IntlPolyfill' is undefined. The error happen because it's trying to do __addLocaleData on IntPolyfill variable which is never set when using AMD.

Here is a simple [jsfiddle](https://jsfiddle.net/Lu5jk7ux/2/) to reproduce the problem.

Is it supported or maybe i'm missing something?

Thank you

[2016-08-23 21:46] caridy commented on #218
@lpproulx the polyfill service is designed to produce scripts, not a AMD module. The fact that the polyfill service might produce an empty string (e.g.: https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en in chrome will be empty) because there is nothing to do in that browser, and therefore IntlPolyfill will not be defined. I'm not sure what exactly are you trying to do, but my rec

[2016-08-24 12:21] lpproulx commented on #218
@caridy I was trying to load the script after the user was logged on our application. The goal was to only load the needed locale by dynamically creating the url with the user preference.

I have been able to kinda fix(hack) by first getting the Intl alone and putting the polyfill in the IntPolyfill variable then making an other call to get the same script now with the locale. The second call is o

[2016-08-24 13:30] caridy commented on #218
oh, if that's the case, you can generate the url dynamically, (e.g.: https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.fr), use AMD to evaluate the code and wait for it to finish, but don't use `IntlPolyfill` in your code at all. when AMD module gets evaluated, the new Intl and the new locale information will be added when needed, otherwise, the browser will provide you with anythin

[2016-08-24 13:35] lpproulx commented on #218
The problem is that i'm not using IntPolyfill. It's the service that is using this variable :

//# sourceMappingURL=Intl.min.js.map
IntlPolyfill.__addLocaleData({locale:"fr",date:{

[2016-08-24 14:58] caridy commented on #218
the polyfill service will only return that function call if Intl is not available in the browser, and if that's the case, then it will also bring IntlPolyfill along the way since it will be a dependency of `Intl.~locale.fr`. I don't see how is that you get `IntlPolyfill.__addLocaleData` when `Intl` is not needed. Maybe I'm missing something here...

[2016-08-24 15:19] lpproulx commented on #218
You can try to run the jsfiddle in safari or IE which doesn't support Intl and you'll see the error in the console.

[2016-08-24 16:11] caridy commented on #218
Ok, I now understand the issue, the problem is that if AMD loader is in place, it will skip the registration process of IntlPolyfill, based on this line:
https://github.com/andyearnshaw/Intl.js/blob/master/dist/Intl.js#L4

[2016-08-24 16:14] caridy commented on #218
as a temporary workaround, you can define `IntlPolyfill.__addLocaleData` method, and when it gets call, you get the Intl module from your amd, and call `m.__addLocaleData` method on it. But I will investigate how to deal with this particular issue in a way that works for everybody without a hack.

[2016-08-27 13:30] laskoviymishka opened #219 "Intl.DateTimeFormat doesn't format minutes and seconds properly"
Related to angular/angular#10974
Seems like there is issue with Intl.DateTimeFormat.
When you try to format date with only minutes and/or seconds it ignore it and format as default.
It seems like there is only hour + minutes + seconds pattern support properly.
Here plnkr to describe issue: http://plnkr.co/edit/HdVrwbvZkcqZclwPJHaN?p=preview
Same as Microsoft/ChakraCore#1223
Reproducing in Safari.

[2016-08-27 23:10] chrismbeckett opened #220 "ReferenceError: IntlPolyfill is not defined"
I am trying to dynamically load the Intl polyfill and appropriate locale data in my browser HEAD, but I don't understand the error I am getting.

[code]

In the browser I am seeing:

[code]

[2016-08-30 14:25] caridy commented on #220
dupe of #218

[2016-08-30 14:30] caridy commented on #219
This is a dupe of #190, and it was fixed few days ago, and will be part of the next release (on thrusday)!

[2016-08-30 23:11] laskoviymishka commented on #219
Thx for update!

[2016-08-31 20:14] laskoviymishka commented on #219
Closed via 20f322dcb47624cec6ba72addcef107c2de94e71

[2016-08-31 20:14] #219 closed

[2016-08-31 22:19] belden opened #221 "Improper spacing with Intl.NumberFormat(..., {style: currency, ...})?"
Why does the following code not put a space after `PYG`?

[code]

This missing space occurs with:
* Chrome 52 built-in `Intl`
* Firefox 45 built-in `Intl`
* this project's `Intl.js`

The [CLDR definition](http://cldr.unicode.org/translation/number-patterns) for `¤` says:

(emphasis mine)

The relevant section from the CLDR data files for `es-MX` seems to come from [`es_419.xml`](http://unicode.org

[2016-09-06 20:08] iammerrick opened #222 "Dynamic Require Polyfill"
Given the following polyfill extracted from the README, has anyone had success trying to accomplish this with dynamic requires for either, languages specific builds or multiple languages using the define plugin?

[code]

For example...

let LOCALES = Global from DefinePlugin of a list of locales set by translators.

[code]

I think this can be accomplished by using Webpack's context feature, but t

[2016-09-06 20:15] mikesherov commented on #222
With Webpack, `System.import` is how you signify a dynamic require. Does that work?

[2016-09-06 20:18] iammerrick commented on #222
Hey @mikesherov require.ensure is the webpack 1 version of System.import I am pretty sure :-)

[2016-09-06 20:19] NekR commented on #222
Maybe have a pre-build step and insteal of using DrdinePlugin, make the JS file a template and pass to it requires data. Then dump all locales as `require("...")` and then build. You may even have plugin for that or loader :-)

[2016-09-06 20:33] iammerrick commented on #222
@NekR would love that as a plugin, I thought that is exactly what DefinePlugin was supposed to do :-(

[2016-09-06 20:38] NekR commented on #222
@iammerrick this is a surprise for me too. Probably DefinePlugin runs after `require` resolution is being done. Sad thing :-(

[2016-09-06 20:46] iammerrick commented on #222
@NekR sad thing indeed :-(

[2016-09-06 23:50] awolden opened #223 "NumberFormat dropping currency decimals in node"
I think I have discovered a discrepancy in the Intl-polyfill and the standard implementation. In a browser (i.e. chrome), this is what I get:

[code]

but, when am using the intl polyfill in node 4 this is what I get:

[code]

TBH, I am not sure which one of these is the correct interpretation of the standard. Any help regarding this issue is appreciated.

Edit: I just tested the polyfill in safar

[2016-09-15 14:52] jvincilione commented on #218
@caridy Any ETA on this? Anything I can do to help?

[2016-09-16 20:45] cymen opened #225 "Errors on react-native 0.33.0"
This module was working with react-native 0.30.0 however it stopped working with 0.33.0 with this error:

[code]

I initially thought this was due to `.bablerc` not being in `.npmignore` which is apparently becoming a good practice (see https://github.com/facebook/react-native/issues/4062). I tried removing `.babelrc` but it didn't fix the problem.

I didn't get much further but wanted to report i

[2016-09-19 23:54] mmcgahan commented on #211
Just  a bump for this issue with a super-basic example in the Node console (v6.4.0):

[code]

[2016-09-20 04:17] r-tock opened #226 "Please push a new release (its been 4 months) with some of the long month/weekday formatter fixes"

[2016-09-20 14:08] caridy commented on #190
https://github.com/andyearnshaw/Intl.js/releases/tag/v1.2.5

[2016-09-20 14:08] caridy commented on #152
https://github.com/andyearnshaw/Intl.js/releases/tag/v1.2.5

[2016-09-20 14:09] caridy commented on #179
https://github.com/andyearnshaw/Intl.js/releases/tag/v1.2.5

[2016-09-20 14:09] caridy commented on #199
https://github.com/andyearnshaw/Intl.js/releases/tag/v1.2.5

[2016-09-20 14:10] caridy commented on #199
@bensontrent I did some partial clean up, but unfortunately we can't really remove dist/ because people are using it directly. I plan to do so in 1.3.x, in the meantime, I will keep this open.

[2016-09-20 14:10] caridy commented on #226
https://github.com/andyearnshaw/Intl.js/releases/tag/v1.2.5

[2016-09-20 14:10] #226 closed

[2016-09-20 14:17] caridy commented on #211
@halt-hammerzeit this is now fixed in 1.2.5:

[code]

[2016-09-20 14:17] #211 closed

[2016-09-20 14:20] caridy commented on #215
@zbraniecki in 1.2.5:

[code]

[2016-09-20 14:20] #215 closed

[2016-09-20 14:24] caridy commented on #223
v1.2.5 works just fine:

[code]

[2016-09-20 14:24] #223 closed

[2016-09-20 14:27] caridy commented on #221
@belden this is very interesting. we can definitely follow up with vendors to make sure that they do the right thing, and we can fix the polyfill for sure. I will keep you posted.

/cc @reiniergs this is the answer to your question from few days ago. As @belden as pointed out, the space can be added when using the currency code.

[2016-09-20 14:49] r-tock commented on #226
❤️

[2016-09-20 14:51] halt-hammerzeit commented on #211
Yeah, it's working now, thanks

[2016-09-20 16:55] jonathanong opened #227 "latest version does not include local data"
cause may be : https://github.com/andyearnshaw/Intl.js/issues/199 https://github.com/andyearnshaw/Intl.js/commit/9ad9a125ecf6ee695e23f8f976e98d3be3733aec

because they are not included, this instruction no longer works: https://github.com/andyearnshaw/Intl.js#intljs-and-browserifywebpack

not sure if the issue is that the instructions are outdated or if this change was accidental

[2016-09-20 16:57] jonathanong commented on #227
oh i see. you are requiring the `js` file, whereas i'd prefer to just require the json.

[2016-09-20 16:58] jonathanong commented on #227
let me know if this is a "will not fix"

[2016-09-20 17:10] bensontrent commented on #199
@caridy An 80% reduction in the npm package size? That's more than a modest partial cleanup, I'd say that's a win already. Here's what intl looks like after your revisions:

![image](https://cloud.githubusercontent.com/assets/5982592/18680503/c9f99c7a-7f18-11e6-86e0-342d4a428a78.png)

And here's a report by file type report:

![image](https://cloud.githubusercontent.com/assets/5982592/18680517/dd1

[2016-09-20 17:22] bensontrent commented on #227
Make sure you're referencing the `locale-data/jsonp/....` folder as found in the instructions rather than `locale-data/json` as the `json` folder was considered less dangerous to be removed as it was never officially documented.

[2016-09-20 18:08] caridy commented on #227
yeah, if you really need the json files you will have to build them! I'm more curious about why do you need the json files. I will close this one, feel free to reopen if you have a strong reason :)

[2016-09-20 18:08] #227 closed

[2016-09-20 18:50] jjlueck-tock opened #228 "Formatting with month: 'long' looks weird in en-au"
Hi.

I have a case where the Intl polyfill is displaying en-au data in a weird way.

[code]

displays

[code]

This was using the latest release (on Sept. 20th)

Any thoughts? Can anyone else reproduce?

[2016-09-21 09:16] mgh commented on #199
Glad to see the file size going down!  But the `json` folder was removed in v1.2.5 -- for future reference, this should have probably been a major release, not a patch release, to avoid breaking the package for those of us that depended on it.

[2016-09-21 13:44] caridy commented on #228
@jjlueck-tock this seems like a problem in CLDR, if you look here:

https://github.com/andyearnshaw/Intl.js/blob/master/locale-data/json/en-AU.json#L72-L73

there are no spaces in the pattern, and that's why Intl.js produces that. I will double check in the latest CLDR, maybe by updating it we fix the issue, otherwise we can report it, and wait for it to be fixed there before we release a new vers

[2016-09-21 17:21] jjlueck-tock commented on #228
Thanks for reproducing and looking into it!

[2016-09-22 13:39] bettiolo opened #229 "Latest minor release breaks the build"
Works with 1.2.4, breaks with 1.2.5:

[code]

[2016-09-22 14:42] caridy commented on #229
dupe of https://github.com/andyearnshaw/Intl.js/issues/227

[2016-09-24 16:13] azimux opened #231 "createRegExpRestore explodes with an unmatched parenthesis"
Hey hey!

We just noticed this problem after upgrading Intl.  We see this failure sometimes in poltergeist and also seemed to be causing problems with our site loading in Safari:

[code]

Printing out the evolution of the regex string it's trying to construct, it undergoes this path through the createRegExpRestore method before exploding when the end result `[\s\S]{26}(((((((())))))))[\s\S]{38})`

[2016-09-25 20:48] caridy commented on #231
@azimux, did you try to use `IntlPolyfill.__disableRegExpRestore`? this seems related to https://github.com/andyearnshaw/Intl.js/pull/197

[2016-09-26 11:02] bettiolo commented on #229
Ok, this is not going to be fixed.

[2016-09-26 11:02] #229 closed

[2016-09-26 16:49] caridy commented on #229
@bettiolo I'm curious how are you using the json files? and why isn't a `jsons/` file enough?

[2016-09-26 18:18] azimux commented on #231
We didn't try that but seems like that would work since it would short-circuit the failing code.  We fixed it by just rolling back to the previous version we were using, from `1.2.5^` to `1.1.0`.  https://github.com/andyearnshaw/Intl.js/pull/197 seems to be related to the length being long, and, subjective, but the length of the lastMatch here doesn't seem very long to me.  Also that issue is from

[2016-09-27 10:44] bettiolo commented on #229
@caridy I don't know, it must be some kind of third party library that has a dependency, I guess `react-intl` but I am not sure and I didn't have time to look into it. Sorry.

[2016-09-27 13:36] davegomez opened #233 "Can't find intl/locale-data/json/en-US.json"
When I update the `intl` library to version 1.2.5 from 1.2.4 I got this error:

[code]

This is happening because the `json` is not being installed and can't find the file.

If I rollback the version of the library everything start to work normally again.

[2016-09-27 19:49] caridy commented on #229
definitely not `react-intl` & co! must be something else.

[2016-09-27 19:59] #233 closed

[2016-09-27 20:19] bettiolo commented on #229
Ok, it is our own's fault, we try to access the files directly:
[code]

[2016-09-27 20:33] caridy commented on #229
Just use the `require()` on the jsonp files, that should do the trick:

[code]

[2016-09-27 20:36] caridy commented on #233
dupe of #227

[2016-09-28 09:21] Bhullnatik commented on #225
To offer some more informations, these packages were not working due to a buggy implementation of the `browser` field in `package.json` in React Native (See https://github.com/facebook/react-native/issues/9854).

It has since been fixed in the `0.35-rc` version, but now you must import specifically the locales you wish to use like so:

[code]

since it will not load all locales automatically now.

[2016-09-30 16:27] caridy commented on #225
thanks for the clarificatino @Bhullnatik, closing this!

[2016-09-30 16:27] #225 closed

[2016-10-06 13:58] IFours opened #235 "Removing `json` folder"
Some old mobile devices cannot show `'₽'` because they lack corresponding glyph in their system font. Before `1.2.5` patch (to be honest, it shouldn't be a patch release) we have used following workaround for this problem:
[code]
So, how can I override some local-data properties for language?

[2016-10-08 23:51] RoxKilly opened #237 "Any tips on how to use with rollup for es2015 tree-shaking?"
My `Angular 2` app coded in `typescript 2` uses this polyfill.  I have set `module:"es2015"` in `tsconfig.json` to allow for tree-shaking using Rollup.js [as recommended by Angular](https://angular.io/docs/ts/latest/cookbook/aot-compiler.html#!#tree-shaking)

When I run the app in the browser, I get the error

I have tried using `rollup-plugin-commonjs` to convert the library to `es2015`

**rollup

[2016-10-10 16:12] caridy commented on #237
We intentionally don't expose the ES6 source to be used via rollup because this is a polyfill, and bundling polyfills with the rest of your app is not what we recommend.

As for the actually issue described here, this is a dupe of https://github.com/andyearnshaw/Intl.js/issues/218, for which we don't have a fix yet, but a workaround is possible.

[2016-10-10 16:12] #237 closed

[2016-10-11 14:32] tthew opened #238 "Removing `locale-data/json/*.json` is a breaking change (v1.2.5)"
The last patch update (v1.2.5) introduces a breaking change by removing `locale-data/json/*json`.

[2016-10-11 14:37] caridy commented on #238
dupe of https://github.com/andyearnshaw/Intl.js/issues/227

[2016-10-11 14:37] #238 closed

[2016-10-11 14:42] tthew commented on #238
This was rather more a reference to the fact that a breaking change was introduced in a patch update, an `npm install` will cause implementations to break unexpectedly.

[2016-10-11 14:55] caridy commented on #238
@tthew we were not expecting so many people importing from that folder, just like we didn't expect people importing from our `tests/` folder and few others which were also part of the npm and are now ignored for the sake of reducing the size of the tarball (it was ~100MB). We never document it, we never talk about it, it was just the source of the jsonp files. We understand that this might be an i

[2016-10-11 15:09] tthew commented on #238
Sure. I concede that the json files were undocumented, so I guess it was a risky move to use them in the first place.

Like you say, the fix is simple, just import the jsonp instead (as expressed in the documentation!).

Thanks to all the contributors for all the hard work.

[2016-10-11 21:12] caridy commented on #235
This is related to https://github.com/andyearnshaw/Intl.js/issues/218, hopefully we can come up with a solution that allow you to intercept and mutate the data somehow.

[2016-10-11 21:13] caridy commented on #218
Still thinking how to solve this. Essentially we need to make those jsonp files to work on various environment, allow the ability to intercept the data before calling `__addLocaleData()`, and allow them to work in environments where the global scope is not at reach.

[2016-10-12 20:53] xiao-kevin opened #240 "Intl.DateTimeFormat is not consistence with browser's Intl.DateTimeFormat"
Intl.js generate a "at" between year and time.

For example: Monday, September 24, 2012 at 1:20 PM
But in the browse's implementation it will be Monday, September 24, 2012 1:20 PM

[2016-10-12 22:52] caridy commented on #240
@xiao-kevin we need more details, what exactly are the config and the locale that you're using... etc.

[2016-10-13 13:41] OhCirca opened #241 "403 Forbidden due to invalid cert"

[2016-10-13 13:41] OhCirca commented on #241
![screen shot 2016-10-13 at 9 40 47 am](https://cloud.githubusercontent.com/assets/6751561/19351298/2ea1845e-9129-11e6-80b8-7749ed4fa28f.png)

[2016-10-13 15:05] #241 closed

[2016-10-13 15:34] caridy commented on #241
For posterity, issues like this should be reported here: https://github.com/Financial-Times/polyfill-service/issues/new

[2016-10-13 15:44] caridy opened #242 "break Intl.js into a set of polyfills"
now that we have full support for `Intl` in all evergreen browsers, it is time to break this down into small pieces, so users can patch their runtime in any way they want. E.g.: `DateTimeFormat.prototype.formatToParts` which is only in FF at the moment.

## Proposal 1

* we can have a foundational bundle (which defines utilities, locale-data, etc).
* each individual feature is a polyfill on its ow

[2016-10-13 17:40] zbraniecki opened #243 "Import plural rules data"
I'm working on adding `Intl.PluralRules` to Intl.js[0].

One area which I could use help with is getting the data for the API available.

The data should be pulled from CLDR json/xml, parsed into JS functions and attached so that [1] can read it.

It seems to me that the easiest way to achieve it would be to reuse @eemeli's make-plural.js[2].
@eemeli, would you be able to help me get it hooked int

[2016-10-13 18:32] eemeli commented on #243
Sure. Actually, for something of a lark and as a proof-of-concept, I put together an [Intl.PluralRules polyfill](/eemeli/IntlPluralRules) a year ago, based on the then-current version of the draft & also using make-plural.js. I'll have a look at the state of this codebase, and see what's needed. No promises on timeframes, though.

[2016-10-13 18:55] caridy commented on #243
I can probably help with this.

[2016-10-13 19:05] zbraniecki commented on #243
@caridy - awesome!

@eemeli - yeah, it's actually awesome to work with multiple different polyfills while ironing out the spec. I have your polyfill, my polyfill, my Gecko implementation and now I'm trying to write the Intl.js patch without looking at other polyfills - just following the spec ;)

[2016-10-13 19:10] eemeli commented on #243
I'll have a go at writing a `PluralRuleSelection` function that uses make-plural.js for its "implementation dependent algorithm".

[2016-10-13 19:30] zbraniecki commented on #243
@eemeli awesome! Thank you.

Please, make sure to stay in line with @caridy's planned https://github.com/andyearnshaw/Intl.js/issues/242 - I want to make sure that PluralRules is an optional plugin for Intl.js.

[2016-10-14 18:20] xiao-kevin commented on #240
Sure, here are two examples:

new Intl.DateTimeFormat('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit'}).format(1348518027)

Intl.js: Friday, January 16, 1970 at 6:35 AM
Chrome v53: Friday, January 16, 1970, 6:35 AM

new Intl.DateTimeFormat('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minu

[2016-10-18 17:47] lleevvyy commented on #231
I have the same problem - after upgrading to 1.2.5 (from 1.2.4), in Safari 9.1 (11601.5.17.1).
[code]
Just downgraded to 1.2.4 and it works again.

[2016-10-18 18:05] caridy commented on #231
@mtlewis can you help with this investigation?

[2016-10-18 20:09] mtlewis commented on #231
@caridy sure thing, looking now.

[2016-10-18 22:04] mtlewis commented on #231
Thanks for reporting this issue @azimux.  To help us reproduce, would you mind logging out the value of the properties below at the start of the `createRegExpRestore` method please?  Once I can reproduce the issue I should be able to track down the cause.

* `RegExp.input`
* `RegExp.leftContext`
* `RegExp.multiline`
* `RegExp.$1`
* `RegExp.$2`
* `RegExp.$3`
* `RegExp.$4`
* `RegExp.$5`
* `RegExp.$6

[2016-10-19 19:06] azimux commented on #231
@mtlewis When it explodes, here's what those values are:

[code]

Btw, I really dug The Big Short.  Read it twice.  Nice work, sir, nice work! :trollface:

[2016-10-19 19:12] azimux commented on #231
Hmmm, probably more convenient to have the values go through `JSON.stringify` so you can plug it in more easily:

[code]

[2016-10-19 19:13] azimux commented on #231
Hmmm, probably better if I give you the `JSON.stringify` of the values so you can plug it in more easily:

[code]

[2016-10-20 23:19] mtlewis commented on #231
Thanks a lot for getting back to me @azimux.  Phew! This was a doozy.  A couple of problems to track down with the previous implementation of createRegExpRestore.  All sorted in #244 I believe.

@caridy, mind taking a look at the PR?

[2016-10-20 23:24] mtlewis commented on #231
@caridy also, is the plan still to release a new major version which disables RegEx cache/restore by default?

[2016-10-21 07:07] indolering opened #245 "maximumSignificantDigits: 0 throws error"
The following error is triggered when using `maximumSignificantDigits: 0`: `Error: Value is not a number or outside accepted range`.

[code]

This does not raise an error in Firefox nor Chrome.

[2016-10-21 14:53] caridy commented on #245
We are following the specification:

https://tc39.github.io/ecma402/#sec-properties-of-intl-numberformat-instances

It clearly specify that this value should be a positive integer. I wonder what is the new safari doing, as well as edge, if they are all ignoring the error, then we should probably align with them and bring this to the committee for discussion.

[2016-10-22 04:44] indolering commented on #245
Yeah, I just signed up for ESDiscuss : )

[2016-10-22 14:20] pfmmfp opened #246 "Cannot format month and day with 2-digit"
Hi! I'm facing an issue when trying to format using 2-digit on month and day.

I added the following assert on `tests/sanity.js`,

[code]

Either running on v1.2.5 or master base code, it fails with the message,

[code]

I've seen several other issues regarding date formatting on the issue tracker, some of them closed, but didn't quite get if this problem is a bug or a known limitation.

[2016-10-25 11:58] romaroid opened #247 "Formatting with month: 'long' doesn't work"
new Intl.DateTimeFormat("en-US", {month: "long"}).format(Date.now())
Expect: "October"
Result: "Oct"

intl@1.2.4

[2016-10-25 12:08] #247 closed

[2016-10-25 12:09] romaroid commented on #247
sorry it's fixed in 1.2.5

[2016-10-25 15:00] caridy commented on #246
I suspect this is another edge case that will have to be patched just like we did for a 1 item configuration in the previous release. I'm less inclined to fix this because producing 1/1 or 01/01 for en-US probably means nothing, or at least confusing for most cases, while the 1 item configuration that we already fixed was more useful and heavily used.

Anyhow, if someone investigate this issue, to

[2016-10-25 21:26] pfmmfp commented on #246
Sounds good, thanks for your quick response @caridy

[2016-10-26 09:47] lauterry opened #248 "2 digits month issue on Chrome Windows 10"
Hello

I'm trying to have a list of 2-digits month in a select component with the following code :

[code]

Here is what i got :

| month | month2Digits |  |
| --- | --- | --- |
| 1 | 01 |  |
| 2 | 02 |  |
| 3 | 03 |  |
| 4 | 03 | problem here |
| 5 | 04 |  |
| 6 | 05 |  |
| 7 | 06 |  |
| 8 | 07 |  |
| 9 | 08 |  |
| 10 | 09 | probleme here |
| 11 | 11 |  |
| 12 | 12 |  |

I have this issue on Chro

[2016-10-26 10:06] lauterry commented on #248
I have tried to put 2016 instead of 1970 and it works.

It seems to have a problem with 1970 on chrome window

[2016-10-28 17:15] chaz2x4 opened #249 "AM/PM isn't showing up in hour12 formats."
I'm not sure if I'm the only project experiencing this.

Twelve hour formats are shown as Jan 30, 2015, 11:00:00 instead of Jan 30, 2015, 11:00:00 PM.

Seems to be an issue with the score, as changing bestScore to score + 1  in datetimeformat line 560 *seems* to fix this

[2016-10-28 20:09] the-simian opened #251 "publish latest to npm"
I saw this update: https://github.com/andyearnshaw/Intl.js/pull/234
It looks like this hasn't been published to npm. can we get an incremented minor version
1.2.5 -> 1.2.6 and get this published? would help a ton! thanks!

[2016-10-31 12:48] singles commented on #240
Looks like I have similar case, compare those:

[code]

while in `node` env:

[code]

[2016-11-01 18:21] thisguychris opened #252 "question: how to include all locales in polyfill.io service?"
Hi,
What's the correct flag to use if I want to include all locales?

something like this?
`https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.all|always`

[2016-11-09 16:37] kinslayeruy opened #253 "locales with non normal whitespaces"
formatting a percentage with locale "en-UY" will result in:

0.05 =>  "0,5 %"

The space between the 5 and the % is not a normal whitespace. I noticed that it happens on several other formats for this locale at least. Is there a reason for this inconsistency?

[code]

the assert will fail since the spaces are different types of whitespaces

[2016-11-11 19:39] caridy commented on #240
@xiao-kevin there might be something that we can do about this. Today, when combining time and date values into a single output, we rely on what CLDR give us, which is: https://github.com/andyearnshaw/Intl.js/blob/master/locale-data/json/en-US.json#L11-L14

for some reason, we are choosing `full` or `long` (which are the one that include the ` at `), instead of using `medium` or `short`.

Here is

[2016-11-16 11:04] ptomasroos commented on #251
Same here, waiting for it.

[2016-11-16 12:55] caridy commented on #248
@lauterry I'm not sure what the issue is, but if it is in Chrome, then you should create a bug against Chrome since it has built-in Intl implementation and this polyfill will simply opt-out.

[2016-11-16 12:55] #248 closed

[2016-11-16 12:57] caridy commented on #249
hey @chaz2x4 we need more info here! what's the configuration, what's the result in browsers vs this polyfill, etc.

[2016-11-16 13:03] caridy commented on #252
No, we don't offer that option, and we should never do IMO. Apps will normally run in one locale, or a subset of available locales. Those files are not small, and require pre-processing on the client. Loading all of them will kill the perf of your app. Feel free to re-open if you have a strong use-case.

[2016-11-16 13:03] #252 closed

[2016-11-16 13:09] caridy commented on #251
working on it :)

[2016-11-16 13:18] caridy commented on #253
@kinslayeruy this is not really a problem, but a feature :), and matches implementations in browsers:

This is in chrome:

[code]

The character 160 is the non-breaking space, which is used in places where you don't want a breakline to be used, otherwise the meaning of the formatted value might be lost.

[2016-11-16 13:18] #253 closed

[2016-11-16 13:46] #231 closed

[2016-11-16 15:39] baseonmars commented on #222
It's possible to use the ContextReplacementPlugin to restrict which locales are loaded.

When you use webpack require with an expression instead of a string a context is created. A context in this case consists of a directory and a regular expression of the files to match. The default regular expression matches all files in the directory.

How you get the list of locales into your webpack config f

[2016-11-17 13:06] caridy commented on #199
ok, with 1.2.6 we are going down to ~500K package (~5mb expanded), which I think is sufficient for now.

@bensontrent thanks a lot for pushing us to get to that point.

[2016-11-17 13:06] #199 closed

[2016-11-17 13:07] caridy commented on #245
Closing this in favor of the discussion around spec definition.

[2016-11-17 13:07] #245 closed

[2016-11-17 15:47] caridy commented on #221
This is more complicated that expected. We have PR #254 trying to address this issue but another case popped as part of the testing of that PR. Specifically, there are locales in CLDR that already contain the space between adjacent currency code and value, and others that doesn't, but there is not a clear rule on when to add the space. It seems to me that it is related to the position in the skele

[2016-11-17 23:19] bensontrent commented on #199
Holy cow @caridy I'm impressed - a 93% savings.  And look how popular Intl has become since we first started this conversation in July--the stats have doubled on what was already a very popular package.

My (certainly-inaccurate) napkin calculation estimates the 93% reduction in size saves 60 Terabytes of storage and transmission, every day.

![image](https://cloud.githubusercontent.com/assets/598

[2016-11-18 12:47] singles opened #255 "DateTimeFormat - inconsistency between standard API and `intl` package"
Compare those

[code]

while in node env:

[code]

[2016-11-20 13:48] gabouy opened #256 "Intl.js with polyfill not working on Safari"
We were using this library successfully but for some reason it stopped working last Friday.

When loading the html that includes the Intl polyfill reference (https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en) the following errors are displayed in Safari:

<img width="760" alt="polyfill-error" src="https://cloud.githubusercontent.com/assets/449957/20463304/a5d0813a-af0e-11e6-9aac-

[2016-11-21 09:00] Turbo87 opened #257 "Invalid regular expression"
I'm using this Intl polyfill through https://polyfill.io/v2/docs/ and four days ago I started seeing `Invalid regular expression` errors for some of my users. It's happening in multiple different browsers, with Chrome Mobile 44 on a Samsung device giving the most descriptive error message:

[code]

I'm not sure if this error is indeed coming from inside the polyfill or if something else is broken,

[2016-11-21 15:35] caridy commented on #257
@mtlewis could this be related to #244?

[2016-11-21 15:35] caridy commented on #256
@mtlewis could this be related to #244?

[2016-11-21 19:56] mtlewis commented on #256
@caridy Yes, I would expect this to be fixed by #244 :D

[2016-11-21 22:00] caridy commented on #256
Ok, I will try to do the release tomorrow morning.

[2016-11-22 16:25] the-simian commented on #251
howdy! its been a bout a month. I'd love to see this get out on npm :)

[2016-11-23 10:54] ruiaraujo commented on #256
@caridy Any chance of doing a release?

[2016-11-28 06:32] zewa666 commented on #218
Any update on this one?

[2016-11-29 17:19] swernerx commented on #251
If you need specific help in getting this done it would be very appreciated.

[2016-11-29 17:22] swernerx commented on #243
You should probably have a look at what the formatJS guys did in their library. They have ICU message formatting and plural rules. And everything based on CLDR data, too.

[2016-11-29 21:02] caridy commented on #251
I'm at tc39 meeting this week, will try to get the package out there but it is always challenging. I need help testing master in all browsers that we are trying to support, because sauce-lab is not really working at the moment.

[2016-11-29 21:03] caridy commented on #218
/cc @juandopazo

[2016-11-29 23:40] juandopazo commented on #218
The distribution file for the polyfill shouldn't be a UMD declaration. If someone wants to use it as a module, they should bundle it themselves with their application code.

[2016-11-30 00:17] caridy commented on #218
@juandopazo I agree! but this will be a breaking change, we will have to bump to 1.3.x. A PR will be welcome :)

[2016-11-30 19:00] the-simian commented on #251
I am pointing directly to the Master branch and I can confirm its working as advertised in react-native environments, so I can give you a thumbs up for android/ios via RN.

[2016-12-02 12:59] Turbo87 commented on #257
closing this in favor of https://github.com/andyearnshaw/Intl.js/issues/256

[2016-12-02 12:59] #257 closed

[2016-12-02 13:00] Turbo87 commented on #256
@caridy friendly reminder

[2016-12-05 10:45] youthcity opened #258 "Can't find @types modules((Typescript .d.ts files)) for intl"
Hello, Can you add a type declaration file in NPM?such as, @types/intl

[2016-12-06 15:28] caridy commented on #258
This is a polyfill for an ECMA 402 Standard. I suspect that TS and Flow already have the type annotations for all ECMA Intrinsics, and Intl is one of them, [more info here](https://tc39.github.io/ecma402/#sec-402-well-known-intrinsic-objects).

[2016-12-06 15:28] #258 closed

[2016-12-06 16:10] caridy commented on #221
ping @srl295 @JCEmmons @zbraniecki

[2016-12-06 17:54] littledan opened #259 "Consider adding Intl.Segmenter polyfill"
The [Intl.Segmenter](https://github.com/tc39/proposal-intl-segmenter) API is at Stage 2 in TC39. Should it be included in Intl.js? If certain languages are left out, it doesn't require a very large data download. There's [a polyfill](https://gist.github.com/inexorabletash/8c4d869a584bcaa18514729332300356) for the API surface which can help someone get started; maybe it would make sense to implemen

[2016-12-07 07:43] youthcity commented on #258
Thank you.
I find a solution to use Intl.js in the typescript. Just require('intl'),It works.

[2016-12-09 12:46] chicoxyzzy commented on #256
Any progress on this?

[2016-12-16 10:29] mtlewis commented on #256
Any news on this release @caridy?

[2016-12-16 11:13] wojtekmaj commented on #231
Had the same problem, rollback to 1.2.4 helped right away.

[2016-12-16 11:51] chicoxyzzy commented on #256
As a workaround you can use v1.2.4. But definitely project needs more collaborators!

[2016-12-16 11:57] Turbo87 commented on #256
@chicoxyzzy unfortunately that is not an option when using it with polyfill.io... 😞

[2016-12-16 12:09] ruiaraujo commented on #256
@Turbo87 Remove it from polyfill.io and polyfill it yourself for a while until it is fixed. A bloated bundle is better than a broken site.

[2016-12-16 12:20] Turbo87 commented on #256
@ruiaraujo to be honest I'd rather work on fixing the cause of the problem, but that unfortunately seems harder than I hoped...

[2016-12-16 14:34] caridy commented on #256
@reiniergs is helping with the tests at the moment, trying to get the test suite back to life, and validate that we are good. We don't want to push a broken build again (like the RegExp issue from last time). I'm currently out until the second week of January. Apologies for the inconvenience, and I will be very supportive of more hands on the deck, if someone has time to help.

[2016-12-16 15:07] Turbo87 commented on #256
@caridy thanks for the feedback! can you elaborate on what is wrong with the test suite? any way we can help?

[2016-12-16 16:10] caridy commented on #256
@Turbo87 the saucelab config is a mess at the moment. On top of that, errors happening during the testing process are completely obscure (at the moment there are ~18 failures on IE, but the error tells nothing about the actual error).

[2016-12-16 21:56] dvkndn commented on #256
Um.. just a little note that while waiting for the fix, we can also disable "RegExp cache / restore" as explained in [the documentation](https://github.com/andyearnshaw/Intl.js#regexp-cache--restore)

I'm not sure about everyone's cases, but it works for mine and I also think the document is right that is is "highly unlikely" that you can disable it.

[2016-12-19 10:05] pkozlowski-opensource opened #260 "formatToParts in browsers (partly) supporting Intl API"
Executing `new Intl.DateTimeFormat('en-US').formatToParts(new Date()));` in a browser that has native `Intl` API implementation (Chrome, FFox, ...) results in:

Would it make sense for this polyffill to monkey-patch the Intl object so new methods like `formatToParts` can be used in browsers already having `Intl` API partly implemented? Or is this considered [gross](https://github.com/sindresorhus/

[2016-12-19 10:26] pkozlowski-opensource opened #261 "AM / PM indicator not added in en-US locale"
Using the following options code:

[code]

produces `11` while both Chrome and FFox with native implementation of the Intl API return `11 AM`.

Minimal reproduce (check console): http://plnkr.co/edit/g8jXPZ5CazQWoHMiSBKP?p=preview

[2016-12-19 10:28] pkozlowski-opensource commented on #261
It _sounds_ like a duplicate of #249 but I've opened a new issue since #249 doesn't have reproduce.

[2016-12-19 10:39] pkozlowski-opensource commented on #260
I guess this is related to #242

[2016-12-19 15:24] caridy commented on #260
yes, that's correct! any help on that direction will be appreciated :)

[2016-12-20 11:13] olaf89 commented on #256
Same happening on on 1.2.5 IE10, 1.2.4 works fine

[2016-12-21 06:36] zbraniecki commented on #243
@caridy , @eemeli - can you guys help me get PluralRules into Intl.js? I landed it in SpiderMonkey, and would like to get a separate implementation to test the spec fully.

[2016-12-21 10:51] eemeli commented on #243
Ummm. Did you perhaps miss my PR for this, onto your `zbraniecki:pluralrules` branch?

https://github.com/zbraniecki/Intl.js/pull/1

[2016-12-22 23:26] jcrben commented on #57
I was trying to use this but using code instead of name is a problem...

[2017-01-16 17:19] caridy commented on #243
Is this still an issue?

[2017-01-16 20:26] zbraniecki commented on #243
The plurals are imported, but I can't get to test it, details in #1.

[2017-01-18 23:13] mtlewis commented on #256
@caridy please let me know if there's anything (#244 related or otherwise) that I can do to help get the next version ready for release. :+1:

[2017-01-20 10:47] Selsynn opened #263 "Safari + Polyfill : Not found https://cdn.polyfill.io/v2/Intl.min.js.map"
Hello
Using https://github.com/andyearnshaw/Intl.js#intljs-and-ft-polyfill-service i ended with a
`Failed to load resource: the server responded with a status of 404 (Not Found) `
for https://cdn.polyfill.io/v2/Intl.min.js.map
(and effectively, i can't access to https://cdn.polyfill.io/v2/Intl.min.js in my browser)

code snippet
`
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?feature

[2017-01-20 12:44] ErrorPro commented on #218
for me just `require('intl')` in my app.js works.

[2017-01-20 15:26] Selsynn commented on #263
I restarted the mac and installed new updates (Safari 10).

I don't have problems now with loading, but files found are empty
When I delete min from url i get this file
[code]

[2017-02-02 20:58] caridy commented on #263
Safari 10 has Intl implemented natively, the polyfill service detects that, and it sends an empty payload, that's the expected behavior. If you have issues with the polyfill service, not with the polyfill itself, you can open an issue here https://github.com/Financial-Times/polyfill-service/issues/new

[2017-02-02 20:58] #263 closed

[2017-02-07 03:09] the-simian commented on #251
@caridy I believe this is on npm now.

[2017-02-07 03:19] alexwalter88 commented on #251
I don't think so. The version published to npm is still 1.2.5

[2017-02-07 05:02] the-simian commented on #251
@alexwalter88 , you're right!

[2017-02-13 23:23] acdha opened #265 "Support for alternate era names?"
I'm not sure whether this is the appropriate spot versus https://github.com/tc39/ecma402 but I recently needed to enable eras in DateTimeFormat but need to use the secular names (BCE/CE) instead of the religious names (BC/AD). This was apparently codified in CLDR as a variant (http://unicode.org/cldr/trac/ticket/649) and the values are present in the CLDR-derived JSON files but unless I'm misreadi

[2017-02-16 07:35] efkan commented on #19
Gentlemen, is there any progress about this issue?

I got stuck on [`timeZone is not supported`](https://github.com/andyearnshaw/Intl.js/blob/68514268e4f6b97a9323f6be9e75bd5a1216777a/src/12.datetimeformat.js#L197-L198)

[2017-02-16 07:49] xdissent commented on #19
We've got a branch with tz support, but it's the older spec IIRC, and it requires an external helper for tz data and conversions: https://github.com/bkon-connect/Intl.js/tree/tz  We never sent a PR because of the external requirement (although looking at it now, it's totally optional). I'd gladly update it if I could get some guidance on how the external tool should ideally be integrated, or the g

[2017-02-17 19:50] pclements12 opened #266 "Intl.NumberFormat for currency inconsistent with browser behavior"
Version:
"intl": "1.2.5"

In Chrome, Firefox, and Safari console:
`Intl.NumberFormat("fr-CA", {
    style:"currency",
    currency:"CAD",
    currencyDisplay:"symbol"
}).format(1000)`

Using Intl.NumberFormat:
`Intl.NumberFormat("fr-CA", {
    style:"currency",
    currency:"CAD",
    currencyDisplay:"symbol"
}).format(1000)`

[2017-02-17 20:34] pclements12 commented on #266
This is due to my local node install not having the "fr" locale installed.
`areIntlLocalesSupported('fr-CA')`

[2017-02-17 20:34] #266 closed

[2017-02-28 21:54] caridy opened #267 "[plan] release 2.0"
We have plans to revamp this polyfill now that the ECMA 402 4th Edition - 2017 draft was cut, and it is plan to be approved. This issue covers most of the things we want to do.

## Rational

ECMA402 keeps involving (and growing in features), while all major browsers already implement `Intl`. At the same time, this polyfill has been optimized to squeeze the data (~100kb gzip for all locales), which

[2017-03-08 22:22] jayesbe opened #268 "React Native 0.42 "TransformError""
Just tried to use this lib on React Native. The app so far is fairly HelloWorld ish.

these are the exact steps I used.

npm install --save intl
npm install --save intl-locales-supported

I then added the following two lines to the top of my app.js

import 'intl';
import 'intl/locale-data/jsonp/en.js';

Thats it. Did not try to use intl in any way, no number formating, nothing.

Got

Bundling `ind

[2017-03-09 02:58] h0ward commented on #268
try `mv node_modules/intl/.babelrc node_modules/intl/~.babelrc`, it works for me.

https://github.com/andyearnshaw/Intl.js/pull/264#issuecomment-279947557

[2017-03-14 15:07] fetis commented on #231
Got the same problem with Angular DatePipe (yes, it uses Intl internally), rollback to 1.2.4 helped as was mentioned above.

[2017-03-17 19:14] chrisy-lili commented on #261
I'm experiencing the same issue. Will this be fixed soon?

[2017-03-27 09:15] AndyOGo opened #269 "Wrong number format for Switzerland CH"
This polyfill puts out wrong number formats for `CH`, which should use apostrophe for thousands.
[code]

Correct is:
[code]

[2017-03-27 09:29] AndyOGo commented on #269
Sorry, I just tracked it down. It was called with a wrong locale of just `de`

[2017-03-27 09:29] #269 closed

[2017-03-29 08:11] viliks opened #270 "IE10 "Syntax error in regular expression" when using DatePipe in Angular 2"
This may not be Angular 2 specific, but I am using angular-cli 1.0.0 with intl polyfills:
[code]
When formatting with date pipe, itl crashes with "Syntax error in regular expression".
It happens after regex optimization in intl:
[code]

If I comment out this reqex shortening, everything is working fine.
Example of  exprStr that is incorrectly shortened before shortening:
`\\\{\\((((((((())))))))\}

[2017-03-29 08:53] vvohra commented on #255
@caridy Do you mind giving me an idea of the process to solve this?

[2017-03-29 21:38] markandey commented on #19
@caridy @xdissent

[date-time-format-timezone](https://github.com/yahoo/date-time-format-timezone) is pretty much independent,  which can polyfill intl.js implementation too.
I started working on similar approach what @xdissent done. Then I realized that {locale+timezone data} combination is not easy to deal with.

Would be best if you simply direct people to use [date-time-format-timezone](https:

[2017-03-30 15:14] caridy commented on #265
We will need some investigation here. If the data is in CLDR, and if browsers support this feature. Can you provide examples of the result from modern browsers?

[2017-03-30 15:22] caridy commented on #268
dupe of https://github.com/andyearnshaw/Intl.js/pull/264, fixed.

[2017-03-30 15:22] #268 closed

[2017-03-30 15:24] caridy commented on #270
Did you try to disabled the regexp cache? More details here: https://github.com/andyearnshaw/Intl.js#locale-data, read the second paragraph, and let us know.

[2017-03-30 15:28] caridy commented on #255
@vvohra the process is:

* check in the computed CLDR class if there is any skeleton that matches a pattern like `"Thursday, 01/01/70"`
* if there is an exact match, verify why the matcher method in Intl.js is returning some other skeleton instead. This is normally due to the matching algo giving some other skeleton a better score.
* try to adjust the matching algo to increase or decrease the scor

[2017-03-30 15:33] caridy commented on #19
@markandey does it work well with Intl.js? Is it already part of polyfill.io?

[2017-03-30 20:46] markandey commented on #19
@caridy yes they do work together.  date-time-format-timezone has test for ie9 where intl is supported by intl.js and then timezones are supported by  date-time-format-timezone .
I am planning to make Pull request for polyfill.io, its not part of polyfill.io yet.

[2017-03-31 13:05] caridy commented on #19
Ok @markandey, let's get that done first, cc me on the PR to ft polyfill service, and once we get it there, we can document how to use both polyfills together to support timezone.

[2017-04-05 03:58] eminoda opened #271 "No locale data has been provided for this object yet"
when i use Angular4.0, my browser show this error:No locale data has been provided for this object yet.

i open this comment,but no use
[code]

[2017-04-06 16:42] caridy commented on #271
You need to import the corresponding locale data, e.g.:

[code]

assuming that `en` is the locale that you want/need. More details here: https://github.com/andyearnshaw/Intl.js#intljs-and-browserifywebpack

[2017-04-06 16:42] #271 closed

[2017-04-07 00:13] j-clarkson opened #272 "Intl.NumberFormat inaccurate return after 17 digits"
When there are more than 17 digits in a number (regardless of decimal places), the digits at and after the 17th place in the return value seem to be inaccurate. The inaccurate return value also changes between Intl.js versions.

Example:
`new Intl.NumberFormat('en-us', {style: 'decimal', maximumFractionDigits: 5, minimumFractionDigits: 0}).format(1234567891234.123456789)`

In version 1.0.1:
return

[2017-04-12 15:09] Huulivoide commented on #272
That is a JavaScript limitation. JavaScript stores all numbers in IEEE 754 format, thus limiting the precision to 17 decimal places.

[2017-04-12 17:56] j-clarkson commented on #272
Helpfully pointed out by a contributor.

[2017-04-12 17:56] #272 closed

[2017-04-20 09:26] Ghuillaume opened #274 "Wrong date format with locales FR and EN"
I'm currently using Intl 1.2.5 to set up a locale for PhantomJS on an Angular2 project, and it seems the fr.js is wrong or incomplete.

Using this template :
[code]

Chrome and Firefox are displaying **_10 : 39 : 37_** which is correct.

PhantomJS with 'require('intl/locale-data/jsonp/en.js')' in karma-shim.js displays **_10 : 10:39 AM : 39:37_**

PhantomJS with 'require('intl/locale-data/jsonp/fr

[2017-04-20 17:28] caridy commented on #274
We don't really produce those, we bring them from CLDR, feel free to open a bug for them: unicode.org/cldr/trac/newticket

[2017-04-25 11:28] donaldpipowitch opened #275 "'2-digit' day is formatted in the wrong way, if month is formatted to"
**Code**

[code]

**Expected behaviour**

[code]

**Actual behaviour**

[code]

[2017-04-26 07:39] brendonco opened #276 "Missing currency sign: SGD"
[code]

e.g. in IE shows $
Chrome/Safari shows SGD

[2017-04-27 12:24] eilinora commented on #255
+1 to encourage it getting solved

Also to help carry over info from another issue where it provides line # references to where the fix needs to happen. https://github.com/andyearnshaw/Intl.js/issues/240#issuecomment-260038454

https://github.com/andyearnshaw/Intl.js/blob/master/src/cldr.js#L290-L296

[2017-04-27 18:40] morhook commented on #275
This same problem is happening to me on PhantomJS as part of my `Ember` build (runs test on chrome and PhantomJS by default).

[2017-04-27 18:41] morhook commented on #275
This one looks duplicate of https://github.com/andyearnshaw/Intl.js/issues/246 on a second read.

[2017-04-27 19:18] donaldpipowitch commented on #275
Yeah, seems to be a duplicate.

[2017-04-27 19:18] #275 closed

[2017-04-28 19:54] jerone commented on #256
I just ran into this problem with the npm package for NodeJS (thus not Polyfill.io)...

[code]

One proposed solution [above](https://github.com/andyearnshaw/Intl.js/issues/256#issuecomment-267705446) about disabling RegExp cache doesn't work.

---------

[code]

[2017-05-01 21:53] icambron commented on #260
I'm having some trouble imagining how that would work. Would you have to, like, parse the result you got from the native Intl impl?

[2017-05-02 04:56] Blasz commented on #231
@caridy Disabling regexp cache fixed the issue for me.

[2017-05-08 10:34] EwanMcP commented on #231
Also had the same issue, disabling cache worked but decided to revert to 1.2.4 for time being.

[2017-05-09 09:34] bitbay opened #277 ""Uncaught SyntaxError: Unexpected strict reserved word""
In older browsers like "Android 4" (pre-kitkat) and Google Chrome 12.0.x (haven't tested the "up-to" value) Intl.js throws
[code]
first at [#L4](https://github.com/andyearnshaw/Intl.js/blob/v1.2.5/dist/Intl.js#L4) ("global") and then at [#L412](https://github.com/andyearnshaw/Intl.js/blob/v1.2.5/dist/Intl.js#L412) ("extends"). At this point i stopped counting...

Since the library's intention is e

[2017-05-10 16:32] demyan1411 opened #278 "Change currency symbol"
Hello,
How can i change currency symbol, I do require('intl/locale-data/jsonp/ru.js');
and I want to show in "RUR" not 'р.'  but 'руб.' how can I do it?